.mainTable
{
    width:100%;
}
.mainTable tr:hover
{
    cursor: pointer;
    background-color: rgb(40, 40, 40);
}
.colorWhite
{
    color:rgb(230, 230, 230);
}
.colorBlue
{
    color:rgb(47, 120, 255);
}
.colorGray
{
    color:rgb(155, 155, 155);
}
.colorGreen
{
    color:rgb(82, 255, 47);
}
.colorYellow
{
    color:rgb(242, 245, 88);
}
.colorViolet
{
    color:rgb(245, 88, 174);
}