<div #mainContainer style = "background-color:black; width: 100%; height:100%; overflow:auto; padding: 0px 5px; font-size:12px; font-family: 'Lucida Console';">
    <table class = "mainTable" #mainTable>
        <tbody *ngIf = "visible">
            <tr *ngFor = "let row of log"
                class = "colorWhite"
                [class.colorBlue] = "row[3] == 'enter'"
                [class.colorGray] = "row[3] == 'open' || row[3] == 'text'"
                [class.colorYellow] = "row[3] == 'warning'"
                [class.colorRed] = "row[3] == 'error'"
                [class.colorViolet] = "row[3] == 'remove'"
                [class.colorGreen] = "row[3] == 'update' || row[3] == 'state' || row[3] == 'script'">
                <td title="{{ row[5] }}">{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div style = "position:absolute; right:25px; top: 5px;">
    <button (click) = "openFilterSettings()" class = "propertyBtn"><i class = "fa fa-filter"></i></button>
</div>
<div *ngIf = "filterSettings.show" style = "position:absolute; left:0px; top: 0px; width:100%; height:100%; background-color: rgba(96, 133, 172, 0.8);">
    <table style = "margin:auto; margin-top:30px;">
        <tbody>
            <tr>
                <td colspan="2"><datetimepicker (onChange) = "changeBeginDate($event)" [setValue] = "filterSettings.beginDateText"></datetimepicker></td>
            </tr>
            <tr>
                <td colspan="2"><datetimepicker (onChange) = "changeEndDate($event)" [setValue] = "filterSettings.endDateText"></datetimepicker></td>
            </tr>
            <!-- <tr>
                <td colspan="2"><input type = "text" placeholder="логин"></td>
            </tr>
            <tr>
                <td colspan="2"><select></select></td>
            </tr>
            <tr>
                <td colspan="2"><select></select></td>
            </tr> -->
            <tr>
                <td><button (click) = "clearFilterSettings()" class = "propertyBtn">Сбросить фильтры</button></td>
                <td><button (click) = "searchByFilter()" class = "propertyBtn">Поиск</button></td>
            </tr>
        </tbody>
    </table>
</div>