.mainTable
{
    width:100%;
}
.mainTable tr:hover
{
    cursor: pointer;
    background-color: rgb(40, 40, 40);
}
.colorWhite
{
    color:rgb(230, 230, 230);
}
.colorBlue
{
    color:rgb(96, 143, 231);
}
.colorOrange
{
    color:rgb(219, 139, 73);
}
.colorGray
{
    color:rgb(155, 155, 155);
}
.colorGreen
{
    color:rgb(127, 233, 95);
}
.colorDarkGreen
{
    color:rgb(64, 175, 60);
}
.colorYellow
{
    color:rgb(242, 245, 88);
}
.colorDarkYellow
{
    color:rgb(152, 153, 66);
}
.colorRed
{
    color:rgb(223, 69, 69);
}
.colorDarkRed
{
    color:rgb(153, 63, 63);
}

.hideButton
{
    opacity: 0.5;
}
.hideButton:hover
{
    opacity: 1;
}
.linkObject
{
}
.linkObject:hover
{
    text-decoration-line: underline;
}