/*******************************************************/
/*Main*/
.WorkspaceBColor /*Фон рабочей области*/
{
    background-color: #1e1e1e;
}
.WorkspaceColor /*Цвет рабочей области*/
{
    color: #ffffff;
}
.TabsPanelColor
{
    background-color: #252526;
}
.TabsColor
{
    color: #cacaca;
    background-color: #252526;
}
.TabsActiveColor /* Цвета активной вкладки*/
{
    color: #ffffff;
    background-color: #1e1e1e;
}
.TabsButtonExitColor
{
    color: #464646;
}
.TabsButtonExitColor:hover
{
    color: #805050;
}
.PanelAppColor /*Основной цвет шрифта и фона у открытого меню*/
{
    color:#ffffff;
    background-color: #252526;
}
.PanelAppTitleColor /*Фон и цвет у заголовка открытого меню*/
{
    color:#cacaca;
    background-color: #252526;
}
.PanelMiniAppBColor /*Фон у панели слева где иконки приложений*/
{
    background-color: #333333;
}
.leftMenuTitleBColor
{
    background-color: #383838;
}
.ButtonMiniAppColor
{
    color:#cacaca;
}
.ButtonMiniAppActiveColor
{
    color:#ffffff;
}
/*Event Creator*/
.EventCreatorColor
{
    color: #ffffff;
}
/*Table Creator*/
.TableCreatorHeadBColor /*Фон заголовка*/
{
    background-color: #3b3b3b;
}
.TableCreatorHeadColor /*Цвет текста заголовка, цвет нижнего статуса и цвет процентов*/
{
    color: #c4c4c4;
}
.TableCreatorBorderColor td, th/*Цвет границ таблицы*/
{
    border-color: #636363 !important;
}
.TableCreatorInputColor
{
    color: #c4c4c4;
    background-color: #1e1e1e;
}
/*******************************************************/
.colorIconEvent
{
    color: #caca5d;
}
.colorIconValue
{
    color: #d38dca;
}
.colorIconTable
{
    color: #9dd165;
}
.colorIconRole
{
    color: #c2c2c2;
}
.colorIconExplorer
{
    color: #c77373;
}
.colorIconFile
{
    color: #9dd165;
}