/*******************************************************/
/*Main*/
.MainTitleColor
{
    color:#ffffff;
}
.WorkspaceBColor /*Фон рабочей области*/
{
    background-color: #d6c496;
}
.WorkspaceColor /*Цвет рабочей области*/
{
    color: #353012;
}
.TabsPanelColor
{
    background-color: #7c8824;
}
.TabsColor
{
    color: #daf1ff;
    background-color: #7c8824;
}
.TabsActiveColor /* Цвета активной вкладки*/
{
    color: #ffffff;
    background-color: #586d10;
}
.TabsButtonExitColor
{
    color: #ffffff;
    transition: 0.3s;
}
.TabsButtonExitColor:hover
{
    color: #ffcaca;
}
.PanelAppColor /*Основной цвет шрифта и фона у открытого меню*/
{
    color:#ffffff;
    background-color: #bb7f4b;
}
.PanelAppTitleColor /*Фон и цвет у заголовка открытого меню*/
{
    color:#daf1ff;
    background-color: #878264;
}
.PanelMiniAppBColor /*Фон у панели слева где иконки приложений*/
{
    background-color: #a74c1f;
}
.leftMenuTitleBColor
{
    background-color: #bb7f4b;
}
.ButtonMiniAppColor
{
    color:#d6c496;
}
.ButtonMiniAppActiveColor
{
    color:#ffffff;
}
/*Event Creator*/
.EventCreatorColor
{
    color: #ffffff;
}
/*Table Creator*/
.TableCreatorHeadBColor /*Фон заголовка*/
{
    background-color: #ffffff;
}
.TableCreatorHeadColor /*Цвет текста заголовка, цвет нижнего статуса и цвет процентов*/
{
    color: #634b27;
}
.TableCreatorBorderColor td, th/*Цвет границ таблицы*/
{
    border-color: #634b27 !important;
    background-color: #ffffff;
}
.TableCreatorInputColor
{
    color: #000000;
    background-color: #ffffff;
}
.TableCreatorStateColor
{
    color: #566b86;
    background-color: #ffffff;
}
.tableCellStateGreen
{
    background-color: rgba(184, 255, 107, 0.66);
}
.tableCellStateYellow
{
    background-color: rgba(241, 255, 44, 0.66);
}
.tableCellStateRed
{
    background-color: rgba(255, 133, 117, 0.66);
}
.substrate
{
    background-color: #dfdfdf;
}
/*******************************************************/
.colorIconEvent
{
    color: #a74c1f;
}
.colorIconValue
{
    color: #a74c1f;
}
.colorIconTable
{
    color: #a74c1f;
}
.colorIconRole
{
    color: #a74c1f;
}
.colorIconExplorer
{
    color: #a74c1f;
}
.colorIconFile
{
    color: #a74c1f;
}
.colorIconTlist
{
    color: #a74c1f;
}
/*******************************************************/
.LowState
{
    color:#eb7e7e;
}
.MiddleState
{
    color:#edf06a;
}
.HightState
{
    color:#def7c2;
}
/*******************************************************/
.mainButton
{
    color: #f08b53;
    border: 1px solid #f08b53;
}
.mainButton:disabled
{
    color: #e7b194;
    border: 1px solid #e7b194;
}