/*******************************************************/
/*Main*/
.MainTitleColor
{
    color:#ffffff;
}
.WorkspaceBColor /*Фон рабочей области*/
{
    background-color: #d7d1db;
}
.WorkspaceColor /*Цвет рабочей области*/
{
    color: #353012;
}
.TabsPanelColor
{
    background-color: #5675ac;
}
.TabsColor
{
    color: #e6e6e6;
    background-color: #5675ac;
}
.TabsActiveColor /* Цвета активной вкладки*/
{
    color: #ffffff;
    background-color: #133268;
}
.TabsButtonExitColor
{
    color: #ffffff;
    transition: 0.3s;
}
.TabsButtonExitColor:hover
{
    color: #ffcaca;
}
.PanelAppColor /*Основной цвет шрифта и фона у открытого меню*/
{
    color:#ffffff;
    background-color: #262431;
}
.PanelAppTitleColor /*Фон и цвет у заголовка открытого меню*/
{
    color:#ffffff;
    background-color: #a6a6b0;
}
.PanelMiniAppBColor /*Фон у панели слева где иконки приложений*/
{
    background-color: #585d70
}
.leftMenuTitleBColor
{
    background-color: #262431;
}
.ButtonMiniAppColor
{
    color:#a6a6b0;
}
.ButtonMiniAppActiveColor
{
    color:#ffffff;
}
/*Event Creator*/
.EventCreatorColor
{
    color: #ffffff;
}
/*Table Creator*/
.TableCreatorHeadBColor /*Фон заголовка*/
{
    background-color: #ffffff;
}
.TableCreatorHeadColor /*Цвет текста заголовка, цвет нижнего статуса и цвет процентов*/
{
    color: #634b27;
}
.TableCreatorBorderColor td, th/*Цвет границ таблицы*/
{
    border-color: #b09a7e !important;
    background-color: #ffffff;
}
.TableCreatorInputColor
{
    color: #000000;
    background-color: #ffffff;
}
.TableCreatorStateColor
{
    color: #566b86;
    background-color: #ffffff;
}
.tableCellStateGreen
{
    background-color: rgba(184, 255, 107, 0.66);
}
.tableCellStateYellow
{
    background-color: rgba(241, 255, 44, 0.66);
}
.tableCellStateRed
{
    background-color: rgba(255, 133, 117, 0.66);
}
.substrate
{
    background-color: #dfdfdf;
}
/*******************************************************/
.colorIconEvent
{
    color: #a74c1f;
}
.colorIconValue
{
    color: #a74c1f;
}
.colorIconTable
{
    color: #a74c1f;
}
.colorIconRole
{
    color: #a74c1f;
}
.colorIconExplorer
{
    color: #a74c1f;
}
.colorIconFile
{
    color: #a74c1f;
}
.colorIconTlist
{
    color: #a74c1f;
}
/*******************************************************/
.LowState
{
    color:#eb7e7e;
}
.MiddleState
{
    color:#edf06a;
}
.HightState
{
    color:#def7c2;
}
/*******************************************************/
.mainButton
{
    color: #585d70;
    border: 1px solid #585d70;
}
.mainButton:disabled
{
    color: #a6a6b0;
    border: 1px solid #a6a6b0;
}
.mainSelect
{
    color: #585d70;
    border: 1px solid #585d70; 
    border-radius:5px;
}