/*******************************************************/
.createContextMenu
{
    background-color: #ffffff;
    position: fixed;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0px 0px 3px 1px #00000042;
    width:200px;
    z-index:10000;
}
.contextMenuList
{
    color:#626A82;
    background-color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
}
.contextMenuList:hover
{
    color:#ffffff !important;
    background-color: #428bca;
}
.contextMenuList:disabled
{
    color:#9b9b9b;
}
.contextMenuList:disabled:hover
{
    background-color: #dadada;
}
/*******************************************************/
.leftMenuTitle
{
    height: 34px;
    padding: 6px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}
/*******************************************************/
.mainButton
{
    color:#456486;
    width: 32px;
    height: 32px;
    /* background-color: #e5e5e5; */
    background-color: #ffffff;
    border: 1px solid #456486;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    margin-left:2px;
    margin-top:5px;
}
.mainButton:hover
{
    background-color: #eeeeee;
}
.mainButton:disabled,mainButton[disabled]
{
    color:#a6b9ce;
    border: 1px solid #839ab3;
}