/*******************************************************/
.createContextMenu
{
    background-color: #ffffff;
    position: fixed;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0px 0px 3px 1px #00000042;
    width:200px;
    z-index:10000;
}
@media screen and (max-width: 500px) 
{
    .createContextMenu
    {
        top: 0px !important;
        left: 0px !important;
        transform: translate(0%, 0%) !important;
        width: 100%;
        height: 100%;
    }
    .createContextMenu button 
    {
        text-align: center;
        background-color: rgba(248, 248, 248, 0.7)
    }
}
.contextMenuList
{
    color:#626A82;
    background-color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
}
.contextMenuList:hover
{
    color:#ffffff !important;
    background-color: #428bca;
}
.contextMenuList:disabled
{
    color:#9b9b9b;
}
.contextMenuList:disabled:hover
{
    background-color: #dadada;
}
.contextMenuList span
{
    color:#9b9b9b;
}
.contextMenuList span:hover
{
    color:#ffffff;
}
/*******************************************************/
.leftMenuTitle
{
    height: 28px;
    padding: 3px;
    font-size: 16px;
    position: relative;
}
/*******************************************************/
.mainButton
{
    color:#456486;
    width: 32px;
    min-width: 32px;
    height: 32px;
    /* background-color: #e5e5e5; */
    background-color: #ffffff;
    border: 1px solid #456486;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}
.mainButton:hover
{
    background-color: #eeeeee;
}
.mainButton:disabled
{
    color:#a6b9ce;
    border: 1px solid #839ab3;
}
/*******************************************************/
select
{
    background-color: white;
}
/*******************************************************/
.propertyBtn
{
    border-radius: 5px; 
    height:24px; 
    border:none; 
    background-color: #007bff; 
    color:white; 
    margin-top:5px; 
    cursor: pointer;
    transition: 0.3s;
}
.propertyBtn:hover
{
    background-color: #2b91ff; 
}
.propertyBtn:disabled
{
    background-color: #dfdfdf; 
    color:rgb(182, 182, 182);
}
/*******************************************/
.spinnerLoader
{
    animation: spin 1s linear infinite;
}
@keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}