.planEditor
{
    padding: 5px; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}
.planControlPanel
{
    position:relative; 
    padding-bottom:3px;
}
.planControlPanel button, .planControlPanel select
{
    margin-top:3px;
    margin-right:5px;
}
.PlanEditorTable
{
    margin: auto;
    background-color:white;
}
.TDHover
{
    transition: 0.3s;
}
.TDHover:hover
{
    background-color: #e2e2e2 !important;
}
.colorBlue
{
    background-color: #e2e2e2 !important;
}
.PlanEditorTable td:first-child, th:first-child
{
    text-align:left !important;
}
.PlanEditorTable th, td
{
    min-width:30px;
    text-align:center;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #eaeaea;
}