<!-- Plan Editor-->
<div class="planEditor">
    <div class = "planControlPanel">
        <div class = "MainBColor" style = "float:left; margin-right:5px; line-height: 32px; padding: 4px; border-radius: 5px; box-shadow: 0px 0px 3px 0px #aaaaaa;">{{ name + " (" + planProperty.month + " " + planProperty.year + ")" }}</div>
        <button class = "mainButton" (click) = "loadTable()" title = "Обновить"><i class="fas fa-sync-alt"></i></button>
        <button class = "mainButton" (click) = "setPresentDays()" title = "Выставить рабочие недели"><i class="fa fa-calendar-alt"></i></button>
        <button class = "mainButton" (click) = "clearPlan()" title = "Очистить все данные"><i class="fas fa-eraser"></i></button>
    </div>
    <div style = "overflow:auto;"> 
        <table class = "PlanEditorTable">
            <tbody>
                <tr style = "color:rgb(160, 160, 160);">
                    <td *ngFor = "let h of dataHeaderDays">{{ h }}</td>
                </tr>
                <tr>
                    <th *ngFor = "let h of dataHeader">{{ h.name }}</th>
                </tr>
                <tr *ngFor="let employee of outEmployees; let i = index"> 
                    <td>{{employee.name}}</td>
                    <td *ngFor="let day of employee.days; let j = index"
                        (click) = "selectInterval(i, j)"
                        (mouseover) = "updateInterval(j)"
                        class = "TDHover"
                        [attr.colspan]="day.colspan"
                        [class.colorBlue] = "(j >= interval.begin && j <= interval.end) && i == interval.i"
                        [style.background-color] = "day.color">{{day.value}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modalwindow #modal></modalwindow>