<!-- Plan Editor-->
<div class = "col-md-4 col-sm-12" style = "user-select:none; margin-top:4px; padding-right:5px; padding-left:5px;">
    <label>Показать план-график за  
        <select style = "height: 36px; border: 1px solid #eeeeee; border-radius:5px;" [(ngModel)] = "searchInputType">
            <option value = "all">Год</option>
            <option value = "jan">Январь</option>
            <option value = "feb">Февраль</option>
            <option value = "mar">Март</option>
            <option value = "apr">Апрель</option>
            <option value = "may">Май</option>
            <option value = "jun">Июнь</option>
            <option value = "jul">Июль</option>
            <option value = "aug">Август</option>
            <option value = "sep">Сентябрь</option>
            <option value = "oct">Октябрь</option>
            <option value = "nov">Ноябрь</option>
            <option value = "dec">Декабрь</option>
        </select>
    </label>
    <button class = "mainButton" title = "Показать" (click) = "showPlan('all')" ><i class="fas fa-check"></i></button>
    <!--<button class = "mainButton" title = "Добавить сотрудника" (click) = "editEmployee()"><i class="fas fa-user-plus"></i></button> -->
    <button class = "mainButton" title = "Редактирование" (click) = "editEmployee()"><i class="fas fa-cog"></i></button>
</div>
<div style = "overflow:auto;" [style.height] = "height"> 
    <table border="1" class = "PlanEditor">
        <tbody>
            <tr>
                <th>ФИО сотрудника</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
                <th>31</th>
            </tr>
            <tr *ngFor="let employee of employees"> 
                <td> {{employee.surname}} {{employee.name}} {{employee.patronymic}} </td>
                <td *ngFor="let day of employee.days" [attr.colspan]="day.colspan">
                    <div [class.colorRed] = "day.value == 'К'"
                        [class.colorGreen] = "day.value == '8'"
                        [class.colorGray] = "day.value == 'Вых'"
                        [class.colorBlue] = "day.value == 'От'"> {{day.value}} </div>
                </td>
               <!-- <td> <button class = "mainButton" title = "Редактировать" (click) = "editEmployee()" ><i class="fas fa-cog"></i></button> </td> -->
            </tr>
        </tbody>
    </table>
</div>


<!-- тест
<br>
<div>
    <table>
        <tr>
            <td> {{ today }} </td>
        </tr>
    </table>
</div>
--> 


<modalwindow #modal></modalwindow>