<div class = "row" style = "margin-left:0; margin-right:0; margin-bottom:4px;">
    <div class = "col-md-12" style = "padding:0; overflow:auto;" [style.height] = "height">
        <div class = "col-md-12 headPanelTasks">
            <div style = "float:left">Название задачи</div>
            <div style = "text-align:right; font-size:14px; margin-right:5px; margin-top:5px;">00.00.00 00:00</div>
        </div>
        <div class = "col-md-12 panelTasks">
            <div>Поручитель</div>
            <div>Исполнитель</div>
            <div>Наблюдатели</div>
            <div>Проекты(папки)</div>
            <div style = "width:120px; height:60px; border: 2px dashed #8796ac; color:#8796ac; text-align:center; padding-top:10px; font-weight:bold;">
                Перетащите сюда
            </div>
            <div>Таблицы</div>
            <div style = "width:120px; height:60px; border: 2px dashed #8796ac; color:#8796ac; text-align:center; padding-top:10px; font-weight:bold;">
                Перетащите сюда
            </div>
            <div>Ячейки</div>
            <button class = "tasksButton" style = "width:75px; font-weight:bold;">Начать</button>
            <button class = "tasksButton" style = "width:90px; font-weight:bold;">Сохранить</button>
            <button class = "tasksButton" style = "width:90px; font-weight:bold;">Завершить</button>
            <button class = "tasksButton" style = "width:90px; font-weight:bold;">В архив</button>
            <button class = "tasksButton" style = "width:90px; font-weight:bold;">Из архива</button>
        </div>
    </div>
</div>