<div class = "row" style = "margin-left:0; margin-right:0; margin-bottom:4px;">
    <div class="col-md-12" style = "height:30px; position:relative; margin-bottom:4px; padding:0;">
        <input type = "text" style = "margin-left:2px;height:30px; width:240px; border: 2px solid #eeeeee; padding-left:5px;" placeholder = "Поиск">
        <button class = "tasksButton" title = "Добавить задачу" (click) = "newTask()"><i class="fas fa-plus"></i></button>
    </div>
    <div class = "col-md-12" style = "padding:0; overflow:auto; display: flex;" [style.height] = "height">
        <div class = "col-md-12" style = "height:250px; padding:2px;">
            <!-- <div class = "col-md-12 headPanelTasks">Текущие задачи</div>Я постановщик Архивные задачи -->
            <div class = "col-md-12 panelTasks" style = "height:461px;">
                <table class = "tasksTable">
                    <tbody>
                        <tr>
                            <th>Название</th>
                            <th>Крайний срок</th>
                            <th>Постановщик</th>
                            <th>Ответственный</th>
                            <th>Дата</th>
                        </tr>
                        <tr>
                            <td>название</td>
                            <td>название</td>
                            <td>название</td>
                            <td>название</td>
                            <td>название</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<modalwindow #modal></modalwindow>