.headPanelTasks
{
    background-color:#ccb6b6; 
    font-size:20px; 
    padding:3px; 
    height:35px;
}
.panelTasks
{
    font-size:14px; 
    padding:3px; 
    height:211px; 
    overflow:auto;
}
.tasksButton
{
    color:#456486;
    width: 32px;
    height: 32px;
    background-color: #e5e5e5;
    border: 1px solid #456486;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}
.tasksButton:hover
{
    background-color: #eeeeee;
}

.tasksTable
{
    margin-top: 5px;
    width:100%;
}
.tasksTable th 
{
    padding: 5px;
    background-color: #ececec;
    color: #566b86;
    border-right: 2px solid #ffffff; 
    font-size: 16px;
}
.tasksTable td 
{
    vertical-align: middle;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    /* border-top: 2px solid #ececec; */
    border-bottom: 2px solid #ececec;
    border-right: 2px solid #ececec;
}