<ng-container *ngIf = "windowType == 'interface'">
<app-loading [load] = "!loaded"></app-loading>
<app-enter *ngIf = "!enter && loaded"></app-enter>
<div *ngIf = "enter && loaded">
    <div>
        <div class = "PanelMiniAppBColor" style = "position:fixed; z-index:1000; width:50px; height:40px; left:0px; top:0px;">
            <div class = "miniButton ButtonMiniAppColor ButtonMiniAppActiveColor" style = "cursor:default;">
                <i class="fab fa-gripfire"></i>
            </div>
        </div>
        <div class = "PanelMiniAppBColor" style = "position:fixed; z-index:1000; width: 50px; height:calc(100% - 40px); top:40px;">
            <div class = "miniButton ButtonMiniAppColor"  
                (click) = "openMiniApp('explorer')"
                [class.ButtonMiniAppActiveColor] = "!hideMenu && currentMiniApp == 'explorer'">
                <i class="far fa-folder"></i>
            </div>
            <!-- <div class = "miniButton ButtonMiniAppColor"
                (click) = "openMiniApp('search')"
                [class.ButtonMiniAppActiveColor] = "!hideMenu && currentMiniApp == 'search'">
                <i class="fas fa-search"></i>
            </div> -->
            <div class = "miniButton ButtonMiniAppColor"
                (click) = "openMiniApp('app')"
                [class.ButtonMiniAppActiveColor] = "!hideMenu && currentMiniApp == 'app'">
                <i class="fas fa-cube"></i>
            </div>
            <div class = "miniButton ButtonMiniAppColor" style = "position:relative"
                (click) = "openMiniApp('stickers')"
                [class.ButtonMiniAppActiveColor] = "!hideMenu && currentMiniApp == 'stickers'">
                <i class="fas fa-sticky-note"></i>
                <div *ngIf = "stickers.length > 0" 
                    style = "position: absolute;
                        right: 0px;
                        bottom: 0px;
                        background: orange;
                        color: white;
                        height: 18px;
                        border-radius: 9px;
                        text-align: center;
                        font-size: 10px;
                        width: 18px;
                        font-weight: 600;
                        line-height: 18px;">{{ stickers.length }}</div>
            </div>
            <div class = "miniButton ButtonMiniAppColor"
                (click) = "openMiniApp('chat')"
                [class.ButtonMiniAppActiveColor] = "!hideMenu && currentMiniApp == 'chat'">
                <i class="fas fa-comment-alt"></i>
            </div>
            <div class = "miniButton ButtonMiniAppColor" 
                (click) = "openMiniApp('settings')"
                [class.ButtonMiniAppActiveColor] = "!hideMenu && currentMiniApp == 'settings'"
                style="position: absolute; bottom:0px;">
                <div style = "text-align: center; width:50px;">
                    <i class="fas fa-cog"></i>
                </div>
            </div>
        </div>
        <div *ngIf = "!hideMenu">
            <div *ngIf = "currentMiniApp == 'explorer'"
                [style.width] = "panelApp.width + 'px'" 
                class = "mainPanelApp PanelAppColor">
                <div class="mainPanelAppTitle PanelAppTitleColor">
                    Проводник
                    <div class = "refreshIcon" title = "Обновить проводник" (click) = "refreshLeftMenu()"><i class = "fas fa-sync-alt"></i></div>
                </div>
                <div style = "overflow: auto; overflow-x:hidden;">
                    <app-left-menu-element *ngFor = "let element of leftMenuData; let i = index" 
                        [config] = "leftMenuConfig[i]" 
                        [data] = "element.childrens" 
                        (onChange) = "onChangeInLeftMenu($event)"></app-left-menu-element>
                </div>
            </div>
            <div *ngIf = "currentMiniApp == 'stickers'"
                [style.width] = "panelApp.width + 'px'" 
                class = "mainPanelApp PanelAppColor">
                <div class="mainPanelAppTitle PanelAppTitleColor">Заметки</div>
                <div *ngIf = "stickers.length > 0" style = "padding: 0px 5px 5px 5px; overflow: auto;">
                    <div *ngFor = "let stick of stickers; let i = index;" 
                        class = "WorkspaceColor MainBColor StickerStyle">
                        <div style = "font-size:14px; padding:5px;">{{ stick.name }} ({{ stick.login }})</div>
                        <div style = "font-size:12px; padding:5px; ">{{ stick.data }}</div>
                        <div class = "stickerLink" style = "padding:5px; " (click) = "searchObjectFromSticker(stick)">найти</div>
                        <div class = "ModalButtonExitColor" style = "position:absolute; right:5px; top:5px; font-size:16px; cursor:pointer;" (click) = "removeSticker(stick.id, i)">
                            <i class="fas fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf = "stickers.length == 0">
                    <div style = "font-size: 12px; text-align: center;">Заметок нет!</div>
                </div>
            </div>
            <div *ngIf = "currentMiniApp == 'app'"
                [style.width] = "panelApp.width + 'px'" 
                class = "mainPanelApp PanelAppColor">
                <div class="mainPanelAppTitle PanelAppTitleColor">Приложения</div>
                <div style = "width:100%; height:60px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                    <div class = "softwareIcon softwareExplorer" title = "Проводник" (click) = "openSoftware('explorer', { id: 0 })"><i class = "fas fa-sitemap"></i></div>
                    <div class = "softwareIcon softwareTable" title = "Корзина" (click) = "openSoftware('explorer', { id: 0, type: 'recycle' })"><i class="fas fa-recycle"></i></div>
                    <div class = "softwareIcon softwareStatistics" title = "Статистика" (click) = "openSoftware('statistics', { id: 0 })"><i class = "fas fa-chart-line"></i></div>
                    <div class = "softwareIcon softwareTasks" title = "Справка" (click) = "openSoftware('info', { id: -1 })"><i class = "fas fa-info"></i></div>
                </div>
            </div>
            <div *ngIf = "currentMiniApp == 'chat'"
                [style.width] = "panelApp.width + 'px'" 
                class = "mainPanelApp PanelAppColor">
                <div class="mainPanelAppTitle PanelAppTitleColor">Чат</div>
                <div>
                    <div style = "font-size: 32px; text-align: center;"><i class="fas fa-wrench"></i></div>
                    <div style = "font-size: 12px; text-align: center;">В разработке</div>
                </div>
            </div>
            <div *ngIf = "currentMiniApp == 'settings'"
                [style.width] = "panelApp.width + 'px'" 
                class = "mainPanelApp PanelAppColor">
                <div class="mainPanelAppTitle PanelAppTitleColor">Настройки</div>
                <div>
                    <div style = "padding: 6px;">CAD <span style = "font-size:12px;">{{ Version }}</span></div>
                    <div style = "height: 40px; padding: 6px; font-weight:bold; font-size:14px; position: relative;">
                        <span style = "position: absolute; left:35px; top: 9px;">
                            {{ Login }}
                        </span>
                        <span style = "position: absolute; left:10px; top: 7px; cursor: pointer; font-size:18px;" (click) = "exitLogin()" title = "выйти">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                    </div>
                    <user-settings (onChange) = "onChangeInSoftware($event)"></user-settings>
                </div>
            </div>
        </div>
    </div>
    <div class = "AppScreen"
        [style.width] = "hideMenu || panelApp.up ? 'calc(100% - 50px)' : 'calc(100% - 370px)'"
        [style.left] = "hideMenu || panelApp.up ? '50px' : '370px'">
        <ng-container *ngFor = "let screen of splitScreen.screens; let s = index;">
            <div *ngIf = "screen" class = "SubScreen"
                (click) = "setActiveScreen(s)"
                [ngStyle] = "{'grid-column': screen.gridColumn, 'grid-row': screen.gridRow}">
                <div class = "TabsPanelColor"
                    style = "width: 100%; height:30px; position: absolute; top: 0px; overflow:auto; overflow-y:hidden; display:flex; font-size: 14px; z-index: 1000;">
                    <div *ngFor = "let tab of screen.tabs; let i = index;" 
                        draggable="true"
                        (dragstart) = "splitScreen.onDragStart($event, s, i)"
                        [title] = "tab.software.inputs.name || tab.name"
                        class = "myTabs TabsColor" [class.TabsActiveColor] = "i == screen.currentSoftware">
                        <div (click) = "openTab(s, i)" 
                            style = "padding-left:7px; height:30px; line-height:30px; width: calc(100% - 20px); text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" >
                            <ng-container *ngIf = "tab.loaded">
                                <span *ngIf = "tab.type == 'explorer' && !tab.software.inputs.type"> <i class = "fas fa-sitemap colorIconExplorer"></i> </span>
                                <span *ngIf = "tab.type == 'explorer' && tab.software.inputs.type === 'recycle'"> <i class = "fas fa-recycle colorIconTable"></i> </span>
                                <span *ngIf = "tab.type == 'table'"> <i class = "fas fa-table colorIconTable"></i> </span>
                                <span *ngIf = "tab.type == 'event'"> <i class = "fas fa-file-code colorIconEvent"></i> </span>
                                <span *ngIf = "tab.type == 'info'"> <i class = "fas fa-info colorIconEvent"></i> </span>
                                <span *ngIf = "tab.type == 'plan'"> <i class = "fa fa-chart-bar colorIconTable"></i> </span>
                                <span *ngIf = "tab.type == 'log'"> <i class = "fa fa-book colorIconTable"></i> </span>
                                <span *ngIf = "tab.type == 'class'"> <i class="fas fa-pencil-ruler colorIconExplorer"></i> </span>
                                <span *ngIf = "tab.type == 'statistics'"> <i class="fa fa-chart-line colorIconValue"></i> </span>
                            </ng-container>
                            <span *ngIf = "!tab.loaded"> <i class="fas fa-spinner spinnerLoader"></i> </span>
                            {{ tab.software.inputs.name || tab.name }}
                        </div>
                        <span (click) = "closeTab(s, i)"><i class="fas fa-times-circle tubExitButton TabsButtonExitColor"></i></span>
                    </div>
                </div>
                <div style = "width:100%; height:calc(100% - 30px); position: absolute; top: 30px;" class = "WorkspaceBColor WorkspaceColor">
                    <ng-container *ngFor="let app of screen.tabs; let i = index;">
                        <div class = "customBack" 
                            [ngStyle] = "theme.style"
                            [style.overflow] = "app.useIframe ? 'none' : 'auto'"
                            [hidden] = "i != screen.currentSoftware">
                            <vg-dynamic-view  
                                *ngIf = "!app.useIframe"
                                [visible] = "!splitScreen.drag && i == screen.currentSoftware"
                                [componentData] = "app.software" 
                                (onChange) = "onChangeInSoftware($event)" 
                                [inputFromApp] = "app.inputFromApp"></vg-dynamic-view>
                            <iframe [src] = "app.software.securitySrc"
                                [hidden] = "splitScreen.drag"
                                (load) = "onLoadIframe(app, $event)"
                                style = "width:100%; height:100%; border:none;"
                                [attr.id] = "'iframe_' + app.guid"
                                *ngIf = "app.useIframe"></iframe>
                        </div>
                    </ng-container>
                    <div *ngIf = "splitScreen.empty" style = "text-align: center; line-height: 16px; margin-top: 20px;">
                        <i class="fab fa-gripfire" style = "font-size: 150px; color:#d6e6fd;"></i><br>
                        <span style="color:#b8b8b8; font-size:25px; font-weight:bold">Добро пожаловать!
                            <br>
                            <span style = "font-size:14px;">Выберите объект из левого меню</span>
                        </span>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class = "DragScreen" *ngIf = "splitScreen.drag">
            <div [ngStyle] = "splitScreen.rect" style = "position: absolute; background-color: #b8b8b88e; pointer-events: none; transition:0.3s;"></div>
        </div>
    </div>
</div>
</ng-container>
<ng-container *ngIf = "windowType == 'table'">
    <div class = "anotherPanelApp">
        <app-table-editor-v2></app-table-editor-v2>
    </div>
</ng-container>
<!-- <ng-container *ngIf = "windowType == 'constructor'">
    <div class = "anotherPanelApp">
        <app-template-constructor></app-template-constructor>
    </div>
</ng-container> -->