.myTabs
{
    min-width: 10px;
    width: 200px;
    height: 30px; 
    position:relative;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .myTabs
    {
        min-width: 150px;
    }
}
.mainPanelApp
{
    position:fixed; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 1000; 
    top:0px;
    left:50px;
}
.anotherPanelApp /* Используется для приложений не использующих интерфейс*/
{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
.mainPanelAppTitle
{
    width: 100%;
    height: 30px;
    padding-left:5px;
    line-height: 30px;
}
.miniButton
{
    height:50px; 
    line-height: 50px; 
    font-size: 26px; 
    text-align: center;
    cursor: pointer;
}
.tubExitButton
{
    position: absolute; 
    top: 8px; 
    right:4px; 
}
.tubStarButton
{
    position: absolute; 
    top: 10px; 
    right:20px; 
    font-size: 10px;
}
.refreshIcon
{
    position:absolute; 
    right:3px; 
    top:0px; 
    width:30px; 
    height:30px; 
    font-size: 14px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.refreshIcon:hover
{
    color: #ffffff; 
    transform: rotate(160deg) scale(1.1);
}
.softwareIcon
{
    color: #ffffff; 
    width:45px; 
    height:45px;
    text-align:center;
    margin-right: 5px;
    border-radius: 6px;
    font-size:20px;
    cursor: pointer;
    transition: 0.3s;
    line-height: 45px;
}
.softwareExplorer
{
    border:2px solid #5f3636; 
    background-color: #c77373; 
}
.softwareExplorer:hover { background-color: #da7c7c; }
.softwareTable
{
    border:2px solid #465a32; 
    background-color: #93c261; 
}
.softwareTable:hover { background-color: #9fd465; }
.softwareStatistics
{
    border:2px solid #5c365f; 
    background-color: #af73c7; 
}
.softwareStatistics:hover { background-color: #d27cda; }
.softwareTasks
{
    border:2px solid #364b5f; 
    background-color: #739ac7; 
}
.softwareTasks:hover { background-color: #7cadda; }
.softwareEvent
{
    border:2px solid #5c5f36; 
    background-color: #c1c773; 
}
.softwareEvent:hover { background-color: #d8da7c; }
/********************************************************/
.customBack
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    margin: 0;
    /* opacity: 0; */
    padding: 0;
    position: absolute;
    top: 0;
    transition: 700ms;
    width: 100%;
}
.stickerLink
{
    text-align: right;
    color:#2d66bd;
    cursor: pointer;
}
.stickerLink:hover
{
    text-decoration-line: underline; 
}
.StickerStyle
{
    font-size:12px; 
    margin-top:5px; 
    position:relative; 
    border-radius: 5px; 
    box-shadow: 0px 1px 3px #123f61; 
    background-image: linear-gradient(rgba(0, 0, 0, 0),#ffbc0026);
    background-color: white;
}