.myTabs
{
    min-width:150px;
    width: 200px; 
    height: 40px; 
    position:relative;
    cursor: pointer;
}
.mainPanelApp
{
    position:fixed; 
    z-index: 1000;
    overflow: auto; 
    overflow-x:hidden; 
    height:100%; 
    left:60px;
}
.mainPanelAppTitle
{
    width: 100%;
    height: 40px;
    padding-left:10px;
    line-height: 40px;
}
.miniButton
{
    height:50px; 
    line-height: 50px; 
    font-size: 26px; 
    text-align: center;
    cursor: pointer;
}
.tubExitButton
{
    position: absolute; 
    top: 12px; 
    right:4px; 
}
.refreshIcon
{
    position:absolute; 
    right:3px; 
    top:3px; 
    width:35px; 
    height:35px; 
    font-size: 14px; 
    line-height: 35px;
    text-align:center;
    cursor: pointer;
    transition: 0.3s;
}
.refreshIcon:hover
{
    color: #ffffff; 
    transform: rotate(65deg);
}
.softwareIcon
{
    color: #ffffff; 
    width:45px; 
    height:45px;
    text-align:center;
    margin-right: 5px;
    border-radius: 6px;
    font-size:20px;
    cursor: pointer;
    transition: 0.3s;
    line-height: 45px;
}
.softwareExplorer
{
    border:2px solid #5f3636; 
    background-color: #c77373; 
}
.softwareExplorer:hover { background-color: #da7c7c; }
.softwareTable
{
    border:2px solid #465a32; 
    background-color: #93c261; 
}
.softwareTable:hover { background-color: #9fd465; }
.softwareStatistics
{
    border:2px solid #5c365f; 
    background-color: #af73c7; 
}
.softwareStatistics:hover { background-color: #d27cda; }
.softwareTasks
{
    border:2px solid #364b5f; 
    background-color: #739ac7; 
}
.softwareTasks:hover { background-color: #7cadda; }
.softwareEvent
{
    border:2px solid #5c5f36; 
    background-color: #c1c773; 
}
.softwareEvent:hover { background-color: #d8da7c; }
