<div #modal class = "modalwindow" style = "display:none;" [style.width.px] = "width">
    <div class = "modal-title" [innerHTML] = "title"></div>
    <div *ngIf = "Data.length > 0" class = "modal-body">
        <table class = "modal-table">
            <tbody>
                <tr *ngFor = "let data of Data; let i = index;">
                    <td [innerHTML] = "data[0]"></td>
                    <td>
                        <!-- ******************************************************************************** -->
                        <select *ngIf = "data[2] === 'select'" [(ngModel)] = "data[1].selected" (change) = "data[3] ? data[3].onselect(data[1].selected) : null" style = "max-width: 300px;">
                            <option value = "{{data[1].value ? data[1].value[j] : option}}" *ngFor = "let option of data[1].data; let j = index;">{{option}}</option>
                        </select>
                        <!-- ******************************************************************************** -->
                        <select *ngIf = "data[2] === 'selectAndButton'" [(ngModel)] = "data[1].selected" (change) = "data[3] ? data[3].onselect(data[1].selected) : null" style = "max-width: 300px;">
                            <option value = "{{data[1].value ? data[1].value[j] : option}}" *ngFor = "let option of data[1].data; let j = index;">{{option}}</option>
                        </select>
                        <button *ngIf = "data[2] === 'selectAndButton'" (click) = "data[4]()">Добавить</button>
                        <!-- ******************************************************************************** -->
                        <div *ngIf = "data[2] === 'choiceListSelect'" >
                            <select size = "10" style = "float: left; width: 150px; height:190px;" [(ngModel)] = "data[1].current1">
                                <option value = "{{data[1].value ? data[1].value[j] : option}}" *ngFor = "let option of data[1].data; let j = index;">{{option}}</option>
                            </select>
                            <select size = "10" [(ngModel)] = "data[1].current2" style = "width: 150px; height:190px;">
                                <option value = "{{option.value}}" *ngFor = "let option of data[1].selected; let j = index;">{{option.name}}</option>
                            </select><br>
                            <button class = "btn btn-primary btn-sm" (click) = "addToSelectList(data)">добавить</button>
                            <button class = "btn btn-primary btn-sm" (click) = "removeFromSelectList(data)">удалить</button>
                        </div>
                        <!-- ******************************************************************************** -->
                        <input style = "width: 100%;" *ngIf = "data[2] === 'text'" type = "text" [value]="data[1]" [(ngModel)] = "data[1]">
                        <!-- ******************************************************************************** -->
                        <input *ngIf = "data[2] === 'password'" type = "text" [value]="data[1]" [(ngModel)] = "data[1]">
                        <button *ngIf = "data[2] === 'password'" (click) = "generatePassword(i)">Создать</button>
                        <!-- ******************************************************************************** -->
                        <input *ngIf = "data[2] === 'checkbox'" type = "checkbox" [checked]="data[1]" [(ngModel)] = "data[1]">
                        <!-- ******************************************************************************** -->
                        <ng-container *ngIf = "data[2] === 'multi-checkbox'">
                            <ng-container *ngFor = "let column of data[1]">
                                <input type = "checkbox" [checked]="column.check" [(ngModel)] = "column.check">
                                <span style = "margin-left:5px;">{{ column.value }}</span><br>
                            </ng-container>
                        </ng-container>
                        <!-- ******************************************************************************** -->
                        <div *ngIf = "data[2] === 'html'" [innerHTML] = "data[1]"></div>
                        <!-- ******************************************************************************** -->
                        <textarea *ngIf = "data[2] === 'textarea'" style = "width: 100%;" [(ngModel)] = "data[1]">{{ data[1] }}</textarea>
                        <!-- ******************************************************************************** -->
                        <div *ngIf = "data[2] === 'datetime'">
                            <datetimepicker (onChange) = "changeDate(data, $event)" [setValue] = "data[3]" [config] = "data[4]"></datetimepicker> 
                        </div>
                        <!-- ******************************************************************************** -->
                        <div *ngIf = "data[2] === 'uploader'">
                            <app-file-uploader [config] = "{ add: data[3], remove: data[4], maxLoadFile: data[5] }" (onChange) = "onChangeListFile($event, data)" (Load) = "onLoad($event)"></app-file-uploader>
                        </div>
                        <!-- ******************************************************************************** -->
                        <div *ngIf = "data[2] === 'typeObject'">
                            <button *ngFor = "let btn of typeObject" style = "color: #456486; cursor:pointer; width: 30px; margin-right:2px;" title = "{{btn.name}}" (click) = "data[3](btn.name)">
                                <i class = "{{btn.class}}"></i>
                            </button>
                        </div>
                        <!-- ******************************************************************************** -->
                        <div *ngIf = "data[2] === 'rightObject'">
                            <table class = "modal-table-right">
                                <tbody>
                                    <tr>
                                        <td> Пользователи / Роли </td>
                                        <td title = "Просмотр"> <i class="fas fa-eye"></i> </td>
                                        <td title = "Копирование"> <i class="fas fa-copy"></i> </td>
                                        <td title = "Наследование"> <i class="fas fa-link"></i> </td>
                                        <td title = "Изменение"> <i class="fas fa-exchange-alt"></i> </td>
                                        <td> </td>
                                    </tr>
                                    <tr *ngFor = "let login of data[3]; let j = index;">
                                        <td>{{ login.login }}</td>
                                        <td><input type = "checkbox" [(ngModel)] = "login.view"></td>
                                        <td><input type = "checkbox" [(ngModel)] = "login.copy"></td>
                                        <td><input type = "checkbox" [(ngModel)] = "login.link"></td>
                                        <td><input type = "checkbox" [(ngModel)] = "login.change"></td>
                                        <td style = "color:#920909; cursor:pointer;" (click) = "removeRights(data[3], j)"><i class="fas fa-trash-alt"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- ******************************************************************************** -->
                        <div *ngIf = "data[2] === 'import'">
                            <table class = "modal-table-right">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>Старое значение</td>
                                        <td></td>
                                        <td>Новое значение</td>
                                    </tr>
                                    <tr *ngFor = "let field of data[1]">
                                        <td><input type = "checkbox" [checked]="field.checked" [(ngModel)] = "field.checked" (change) = "checkAll(data)"></td>
                                        <td>{{ field.oldValue }}<sub>{{ field.id }}</sub></td>
                                        <td><i class="fas fa-arrow-right"></i></td>
                                        <td>{{ field.value }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type = "checkbox" [checked]="data[3]" [(ngModel)] = "data[3]" (change) = "selectAll(data)"> Выбрать все
                        </div>
                        <!-- ******************************************************************************** -->
                        <div *ngIf = "data[2] === 'filterEditor'">
                            <app-filter-editor #filterEditor [config] = "data[1]"></app-filter-editor>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class = "modal-footer">
        <div *ngIf = "error != ''" style = "color: rgb(202, 62, 62);">{{error}}</div>
        <button *ngIf = "textButtonCancel != ''" class = "btn btn-default transition" (click) = "close(false)" style = "float:right; margin-left:10px; cursor: pointer;">{{textButtonCancel}}</button>
        <button *ngIf = "textButtonOK != ''" class = "btn btn-primary transition" (click) = "close(true)" style = "cursor: pointer;" [disabled] = "load">{{textButtonOK}}</button>
    </div>
</div>