<div class = "row" style = "margin: 0px; padding: 5px;">
    <div *ngIf = "info == null" class = "MainBColor" style = "padding: 5px; width:100%; border-radius: 5px;">
        <span style = "font-size:24px;"> Выберите элемент из левого меню</span>
    </div>
    <div *ngIf = "info != null" class = "MainBColor" style = "padding: 5px; width:100%; border-radius: 5px;">
        <div style = "width:100%; padding: 5px; font-size:20px; position:relative;">
            <div style = "position:absolute; width:100%;height:100%; top:0px; left:0px;pointer-events: none;">
                <div style = "position:absolute; height:4px; bottom:0px;"
                    [style.width] = "info.state + '%'"
                    [class.tableCellStateGreen] = "info.state == 100"
                    [class.tableCellStateYellow] = "info.state >= 50 && info.state < 100"
                    [class.tableCellStateRed] = "info.state < 50">
                </div>
            </div>
            <span *ngIf = "info.objectType == 'folder'"><i class="fas fa-folder colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'filter'"><i class="fas fa-filter colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'class'"><i class="fa fa-pencil-ruler colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'user'"><i class="fas fa-user colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'role'"><i class="fas fa-address-book colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'table'"><i class="fas fa-table colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'event'"><i class="fas fa-file-code colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'right'"><i class="fas fa-address-card colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'plan'"><i class="fa fa-chart-bar colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'tlist'"><i class="fas fa-list-ol colorIconFolder"></i></span>
            <span *ngIf = "info.objectType == 'file'"><i class="fa fa-file-alt colorIconFolder"></i></span>
            {{ info.name }}<span style = "font-size: 12px;">(id: {{ info.id }})</span>
        </div>
        <div style = "font-size:12px; color:#8f8f8f">
            <span *ngFor = "let path of allPath">{{ path.name }}/</span>
        </div>
        <div style = "width:100%; padding: 5px; font-size:16px; margin-top:10px;">
            <span *ngIf = "info.info">{{ info.info }}</span>
            <span *ngIf = "!info.info">Информация отсутствует!</span>
        </div>   
    </div>
</div>