<div class = "constructor-main">
    <div class = "constructor-control-panel">
        <div class = "pathStroke MainBColor" style = "padding: 0px 5px;">
            <ng-container *ngFor = "let path of allPath; let last = last;">
                <span *ngIf = "!last" class = "pathRow" (click) = "openSoftware('explorer', path.id)" style = "cursor:pointer;">{{ path.name }}/</span>
                <div *ngIf = "last" style = "padding-bottom: 2px;">
                    <div style = "font-size:20px; float:left; height:32px; margin-left:10px; margin-right:10px;">
                        {{ path.name }}
                    </div>
                </div>
            </ng-container>
        </div>

        <button class = "mainButton" title = "Сохранить" (click) = "saveData()" [disabled] = "readonly"><i class="fas fa-save"></i></button>
        <button class = "mainButton" title = "Обновить" (click) = "loadData()" style = "margin-right: 5px;"><i class="fas fa-sync-alt"></i></button>
    </div>
    <div class = "MainBColor">
        <div class = "headerStyle">
            Правила
            <span class = "caret-append" (click) = "appendNode(-1)" [class.-disabled] = "rules.length > 0"><i class="fas fa-plus-circle"></i></span>
        </div>
        <table class = "table-zebra">
            <ng-container *ngFor = "let rule of rules; let i = index;">
                <tr *ngIf = "!rule.hide">
                    <td [style.padding-left] = "rule.level * 15 + 20 + 'px'" style = "margin-bottom:2px; white-space: nowrap; padding-right: 10px;">
                        <!-- <span *ngIf = "rule.type == 'together'"><i class="fas fa-link"></i></span>
                        <span *ngIf = "rule.type == 'apart'"><i class="fas fa-unlink"></i></span> -->
                        <span style = "position:relative;">
                            <span *ngIf = "rule.end !== true && rule.open" (click) = "openCollapse(i)"><i class="fa fa-caret-down" style = "position: absolute; cursor: pointer; left: -15px; top: 0px;"></i></span>
                            <span *ngIf = "rule.end !== true && !rule.open" (click) = "openCollapse(i)"><i class="fa fa-caret-right" style = "position: absolute; cursor: pointer; left: -11px; top: 0px;"></i></span>
                            <span *ngIf = "rule.templateType == 'table' || !rule.templateType"><i class="fas fa-table colorIconTable"></i></span>
                            <span *ngIf = "rule.templateType == 'class'"><i class="fa fa-pencil-ruler colorIconExplorer"></i></span>
                        </span>
                        <input class = "mainSelect" 
                            type = "text" 
                            placeholder="имя" 
                            [(ngModel)] = "rule.name" 
                            (change) = "onChangeName(i)" 
                            style = "width:110px; padding: 1px 4px; margin-left:5px;">
                        <a title = "Шаблон" 
                            (click) = "seacrhElement(rule.templateId)"
                            style = "border-bottom: 1px dashed rgb(50, 110, 189); color:rgb(50, 110, 189); cursor: pointer; margin-left:5px;">
                            <span>{{ rule.templateName ? rule.templateName : "Undefined" }}</span>
                            <span style = "font-size: 10px;"> {{ rule.templateId }}</span>
                        </a>
                        <!-- <input class = "mainSelect" 
                            type = "text" 
                            placeholder="id" 
                            [(ngModel)] = "rule.templateId" 
                            (change) = "onChangeTemplate(i)" 
                            style = "width:80px; padding: 1px 4px; margin-left:5px; margin-right: 5px;"> -->
                        <div style = "float:right; margin-left:20px;" *ngIf = "!readonly">
                            <!-- <button class = "mainButton" 
                                style = "width:24px; height: 24px; font-size:12px; min-width: 24px;" 
                                (click) = "setFromCopy(i)"><i class="fas fa-paste"></i></button> -->
                            <button class = "mainButton" 
                                title = "Вырезать"
                                style = "width:24px; height: 24px; font-size:12px; min-width: 24px; margin-left: 5px;" 
                                (click) = "setCutElement(i)"><i class="fas fa-cut"></i></button>
                            <button class = "mainButton" 
                                title = "Вставить"
                                style = "width:24px; height: 24px; font-size:12px; min-width: 24px; margin-left: 5px;" 
                                [disabled] = "cutElement == -1"
                                (click) = "pasteCutElement(i)"><i class="fas fa-paste"></i></button>
                            <span class = "caret-remove" (click) = "removeNode(i)"><i class="fas fa-minus-circle"></i></span>
                            <span class = "caret-append" (click) = "appendNode(i)" [class.-disabled] = "rule.templateType === 'class'"><i class="fas fa-plus-circle"></i></span>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>
<modalwindow #modal></modalwindow>