.constructorMainPanel
{
    padding: 5px;
}
.constructorMainPanel button
{
    margin-left: 5px;
}
.subPanel
{
    margin: auto;
    width: 400px;
    box-shadow: 0px 1px 4px #3333334f;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px; 
}
.subPanel span
{
    color: #499249;
    cursor: pointer;
}
.headerStyle
{
    font-size: 18px;
    font-weight: 600;
    margin-top:5px;
    margin-bottom:5px;
}
.applyColor
{
    color: rgb(103, 196, 103);
    border-color: rgb(103, 196, 103);
}