<div style = "padding-left: 10px; font-weight:bold; font-size:14px; position: relative;">
    Язык: 
    <select disabled>
        <option>Русский</option>
        <option>Английский</option>
    </select>
    <div *ngIf = "filter.id > 0" style = "margin-top:5px;">
        <div style = "float:left;">Фильтр:</div>
        <div style = "background-color: #6085ac; border-radius: 5px; padding:0px 3px; margin-left:4px; margin-right:4px; float:left;">{{ filter.name }}</div>
        <div class = "ModalButtonExitColor" style = "font-size:16px; cursor:pointer;" (click) = "removeFilter()">
            <i class="fas fa-times-circle"></i>
        </div>
    </div>
</div>
<hr style = "margin-top: 5px; margin-bottom: 5px;">
<div style = "padding-left: 10px; font-weight:bold; font-size:14px; position: relative;">
    <div>Темы:</div>
    <div style = "width:280px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
        <div class = "themeTab themeSmall" style = "text-align: center; line-height: 40px; padding: 0px; font-size: 24px;"(click) = "setTheme('blue')">
            <div style = "width: 100%; height:80%; margin-top:10%; background-color:#6085ac;"></div>
        </div>
        <div class = "themeTab themeSmall" style = "text-align: center; line-height: 40px; padding: 0px; font-size: 24px;"(click) = "setTheme('dark')">
            <div style = "width: 100%; height:80%; margin-top:10%; background-color:#333333;"></div>
        </div>
    </div>
    <div>Фон:</div>
    <div style = "width:280px; max-height: 280px; overflow: auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
        <div class = "themeTab" *ngFor = "let background of backgrounds" [class.themeImage] = "background.type == 'image'" (click) = "setBackground(background)">
            <img *ngIf = "background.type == 'image'" width = "100%" src = "{{ '/assets/img/theme/thumbs/_' + background.name }}">
            <div *ngIf = "background.type == 'color'" style = "width: 100%; height:80%; margin-top:10%;" [style.background-color] = "background.name"></div>
        </div>
        <div class = "themeTab" style = "text-align: center; line-height: 80px; padding: 0px; font-size: 24px;"(click) = "setBackground('')">
            <i class="far fa-minus-square"></i>
        </div>
    </div>
    <div>Избранное:</div>
    <button (click) = "openFavorites()">Открыть</button>
</div>