/* .dx-datagrid-rowsview .dx-data-row .dx-cell-modified .dx-highlight-outline::after {
    border: 1px solid #000000;
} */
.tableGrid
{
    padding: 5px; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 30px;
    grid-template-areas: 'header' 'content' 'bottom';
    height: 100%;
}
.tableControlPanel
{
    position:relative; 
    padding-bottom:3px;
}
.tableControlPanel button, .tableControlPanel select
{
    margin-top:3px;
    margin-right:5px;
}

.bottomControlPanel
{
    user-select:none; 
    display: flex; 
    overflow: auto; 
    padding-top:3px;
    width:50%;
    float:left;
}
.bottomControlPanel div
{
    height:24px;
    line-height: 24px;
    border-radius:5px; 
    font-size:12px;
    padding: 0px 4px;
    margin-right:5px;
}
.right
{
    justify-content: flex-end;
}
.right div
{
    margin-right:0px;
    margin-left:5px;
}

.enableButton
{
    background-color: rgb(187, 230, 139);
}
.cutRow
{
    color:rgb(173, 173, 173);
}