/* .dx-datagrid-rowsview .dx-data-row .dx-cell-modified .dx-highlight-outline::after {
    border: 1px solid #000000;
} */
.tableGrid
{
    padding: 5px; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 27px;
    grid-template-areas: 'header' 'content' 'bottom';
    height: 100%;
}
.tableGridWidthHeaderEditor
{
    grid-template-rows: auto auto 1fr 27px;
}
.tableControlPanel
{
    position:relative; 
    padding-bottom:3px;
}
.tableControlPanel button, .tableControlPanel select
{
    margin-top:3px;
    margin-right:5px;
}

.bottomControlPanel
{
    user-select:none; 
    display: flex; 
    overflow: auto; 
    padding-top:3px;
    width:50%;
    float:left;
}
.bottomControlPanel div
{
    height:24px;
    line-height: 24px;
    border-radius:5px; 
    font-size:12px;
    padding: 0px 4px;
    margin-right:5px;
}
.right
{
    justify-content: flex-end;
}
.right div
{
    margin-right:0px;
    margin-left:5px;
}

.enableButton
{
    background-color: rgb(187, 230, 139);
}
.cutRow
{
    color:rgb(173, 173, 173);
}
.nameTableClass
{
    float: left;
    padding: 4px;
    margin-bottom: -5px;
    margin-right: 5px;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}
/*****************************************/
.tableProperty
{
    position: absolute;
    right:5px;
    top: 5px;
    min-width: 260px;
    color: #456486; 
    font-size:12px;
    padding:5px;
    background: white;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #aaaaaa;
    transition: 0.3s;
    height: calc(100% - 10px);
    max-height: 500px;
}
.wordCenter
{
    position: absolute; 
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%); 
    cursor: pointer;
    color:#b8b8b8; 
    font-size:20px; 
    font-weight:bold;
    white-space: nowrap;
}
.linkField
{
    cursor: pointer;
    font-size:12px;
    margin-left:15px;
}
.linkField:hover
{
    text-decoration: underline;
}