.Datetime 
{
    padding: 2px;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
    border-collapse: collapse;
}
.Datetime th 
{
    border-width: 1px;
    /* width:30px; */
	padding: 6px;
	border-bottom: 1px solid #dedede;
}
.Datetime td 
{
	border-width: 1px;
    width: 20px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    /* background-color: #ffffff; */
    cursor: pointer;
    transition: 200ms;
    /* border-radius: 15px; */
}
.Datetime td:hover 
{
    color: black;
	background-color: #eaeaea;
}
.DatetimeMonth 
{
    padding: 2px;
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
.DatetimeMonth th 
{
	border-width: 1px;
	padding: 6px;
	border-color: #666666;
	background-color: #dedede;
}
.DatetimeMonth td 
{
	border-width: 1px;
    width: 65px;
    height: 55px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: 200ms;
}
.DatetimeMonth td:hover 
{
    color: black;
	background-color: #eaeaea;
}
.CurrentRect
{
    color: white;
    background-color: #59b4ff;
}
.SelectRect
{
    color: white;
    background-color: #3276b1;
    /* box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5); */
}
.MyButton
{
    cursor: pointer;
    padding: 4px;
    color: black;
    transition: 200ms;
}
.MyButton:hover
{
    color: #3276b1;
}
.MyButton2
{
    padding: 4px;
    color: black;
}
.MyArrow
{
    font-size: 26px;
    float: right;
    cursor: pointer;
    color: #3276b1;
    transition: 200ms;
}
.MyArrow:hover
{
    color: #141414;
}