<div>
    <div [class.col-xs-12] = "!minSize" [class.col-xs-6] = "minSize" style = "padding: 0px; position: relative;">
        <input #mainInput type = "text" class = "inputMy" style = "width: 100%;" 
            (keydown) = "OnKeydownInput($event)" 
            (keypress) = "OnKeypressInput($event)" 
            (click) = "OnclickInput($event)" 
            (blur) = "OnBlurInput($event)"
            [style.border-color] = "!error ? '' : 'rgb(255, 102, 0)'" [disabled] = "block">
        <div (click) = "block ? null : openMenu()" style = "position: absolute; right: 0px; top: 0px; width: 30px; height: 30px; cursor: pointer;">
            <i class="fas fa-calendar-alt" style = "font-size: 20px; margin-top: 5px; margin-left: 6px;"></i>
        </div>
    </div>
    <div #CalendarDiv style = "position: fixed; background-color:white; box-shadow: 0 0 10px rgba(0,0,0,0.5); z-index: 1000; padding: 5px; display: none;">
        <div *ngIf = "window == 0" class = "MyButton" (click) = "selectWindowMonth()">{{monthCalendar[month]}} {{year}}</div>
        <div *ngIf = "window == 1" class = "MyButton" (click) = "selectWindowYear()">{{year}}</div>
        <div *ngIf = "window == 2" class = "MyButton2" style = "width: 100px;" >{{pageYear}} - {{pageYear + 11}}</div>
        <div *ngIf = "window == 2" style = "position: absolute; top: 0px; right: 0px; width: 57px; height: 28px;">
            <div class="MyArrow" (click) = "changePageYear(12)" style = "margin-right:5px;">
                <i class="colorArrow fas fa-caret-down"></i>
            </div>
            <div class="MyArrow" (click) = "changePageYear(-12)">
                <i class="colorArrow fas fa-caret-up"></i>
            </div>
        </div>
        <div *ngIf = "window == 0">
            <select *ngIf = "availabilityTime" [(ngModel)] = "selectTime" style = "position: absolute; top: 6px; right: 5px;">
                <option value = "{{data}}" *ngFor = "let data of timeCalendar">{{data}}</option>
            </select>
            <table class="Datetime">
                <tbody>
                    <tr>
                        <th *ngFor="let date of dayCalendar">
                            {{date}}
                        </th>
                    </tr>
                    <tr *ngFor="let line of calendar">
                        <td *ngFor="let date of line" 
                            (click) = "ClickDay(date)" 
                            [style.color] = "date.month == month ? '' : '#888888'" 
                            [class] = "(date.day == day && date.month == selectMonth && date.year == selectYear) ? 'SelectRect' : (date.day == currentDate.getDate() && date.month == currentDate.getMonth() && date.year == currentDate.getFullYear()) ? 'CurrentRect' : ''">
                            <!-- [style.background-color] = "(date.day == currentDate.getDate() && date.month == currentDate.getMonth() && date.year == currentDate.getFullYear()) ? '#fdffbc' : (date.day == day && date.month == selectMonth && date.year == selectYear) ? '#bfebff' : ''"> -->
                            {{date.day}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf = "window == 1">
            <table class="DatetimeMonth">
                <tbody>
                    <tr *ngFor="let line of monthCalendarMin">
                        <td *ngFor="let date of line" 
                            (click) = "ClickMonth(date.month)"
                            [class] = "(date.month == selectMonth && year == selectYear) ? 'SelectRect' : (date.month == currentDate.getMonth() && year == currentDate.getFullYear()) ? 'CurrentRect' : ''">
                            <!-- [style.background-color] = "(date.month == currentDate.getMonth() && year == currentDate.getFullYear()) ? '#fdffbc' : (date.month == selectMonth && year == selectYear) ? '#bfebff' : ''"> -->
                            {{date.name}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf = "window == 2">
            <table class="DatetimeMonth">
                <tbody>
                    <tr *ngFor="let line of yearCalendarMin">
                        <td *ngFor="let date of line" 
                            (click) = "ClickYear(date)"
                            [class] = "(date == selectYear) ? 'SelectRect' : (date == currentDate.getFullYear()) ? 'CurrentRect' : ''">
                            {{date}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>