<div class = "leftMenuTitle leftMenuTitleBColor">
    <div *ngIf = "hide" style = "cursor: pointer; width:10px; float:left; margin-left:4px;" (click) = "hideAllMenu()">
        <i class="fas fa-caret-right"></i>
    </div>
    <div *ngIf = "!hide" style = "cursor: pointer; width:14px; float:left;" (click) = "hideAllMenu()">
        <i class="fas fa-caret-down"></i>
    </div>
    <!-- <i class="fas fa-book"></i> --> {{ _config.name }}
    <span *ngIf = "!hide" style = "position: absolute; right:34px; top: 5px; cursor:pointer;" (click) = "visibleSearch()">
        <i class="fas fa-search"></i>
    </span>
    <span *ngIf = "!hide" style = "position: absolute; right:8px; top: 5px; cursor:pointer;" (click) = "openElement({ objectType: 'folder', id: _config.id })">
        <i class="fas fa-external-link-alt"></i>
    </span>
    <input 
        #inputSearch
        type = "text" 
        [style.display] = "searchVisible && !hide ? 'block' : 'none'"
        style = "width: calc(100% - 60px); height: calc(100% - 6px); position: absolute; left:5px; top:5px; border-radius:5px; border: 1px solid #3d87db; padding: 4px;" 
        value = "search" 
        [(ngModel)] = "search" 
        (input) = "OnChangeSearch()" 
        placeholder = "Поиск">
</div>
<div *ngIf = "!hide" style = "padding: 5px; padding-left: 15px;">
    <div *ngFor = "let data of outData; let i = index;" [hidden] = "(search == '' && data.hide) || (search != '' && data.searchHide)">
        <div class = "leftItem" [style.marginLeft.px] = "search == '' ? (15 * data.level) : 0">
            <div class = "leftItemText" 
                (click) = "getInfo(data)"
                (dblclick) = "openElement(data)" 
                [title] = "data.name"
                style = "user-select:none;">
                <span *ngIf = "data.objectType == 'folder' && !data.open" style = "cursor: pointer; margin-right:2px;" (click) = "openCollapse(i, data.level)">
                    <i class="fas fa-folder"></i>
                </span>
                <span *ngIf = "data.objectType == 'folder' && data.open" style = "cursor: pointer;" (click) = "openCollapse(i, data.level)">
                    <i class="fas fa-folder-open"></i>
                </span>

                <i *ngIf = "data.objectType == 'user'" class="fas fa-user colorIconRole"></i>
                <i *ngIf = "data.objectType == 'role'" class="fas fa-address-book colorIconRole"></i>
                <i *ngIf = "data.objectType == 'log'" class="fas fa-book colorIconTable"></i>
                <i *ngIf = "data.objectType == 'plan'" class="fa fa-chart-bar colorIconTable"></i>
                
                <span *ngIf = "data.objectType == 'table'" style = "cursor: pointer;" (click) = "openCollapse(i, data.level)">
                    <i class="fas fa-table colorIconTable"></i>
                </span>
                
                <i *ngIf = "data.objectType == 'filter'" class="fas fa-filter colorIconTable"></i>
                <i *ngIf = "data.objectType == 'event'" class="fas fa-bolt colorIconEvent"></i>
                <i *ngIf = "data.objectType == 'right'" class="fas fa-address-card"></i>

                <i *ngIf = "data.fileType == 'img'" class="fas fa-file-image colorIconFile"></i>
                <i *ngIf = "data.fileType == 'xls'" class="fas fa-file-excel colorIconFile"></i>
                <i *ngIf = "data.fileType == 'doc'" class="fas fa-file-word colorIconFile"></i>
                <i *ngIf = "data.objectType == 'tlist'" class="fas fa-list-alt colorIconTlist"></i>
                <i *ngIf = "data.objectType == 'label'" class="fas fa-share-square colorIconRole"></i>
                {{data.name}}
            </div>
            <div class = "copyButton" (click) = "copyObject(data)">
                <i class="fas fa-copy" title = "Копировать"></i>
            </div>
        </div>
    </div>
    <div [hidden] = "outData.length != 0" style = "text-align:center;">Нет данных</div>
</div>