.voidButton
{
    position: relative;
    float: left;
    width: 5px;
    height: 16px;
}
.leftItem
{
    position: relative;
    display:flex;
}
.leftItemText
{
    cursor: pointer;
    transition: 0.3s;
    margin-left:0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 30px);
}
.openButton
{
    cursor: pointer;
    display: none;
    margin-left:2px;
}
.copyButton
{
    cursor: pointer;
    display: none;
    margin-left:auto;
}
.leftItem:hover .leftItemText
{
    text-decoration: underline;
}
.leftItem:hover .copyButton, .leftItem:hover .openButton
{
    display: block;
}