.listClass
{
    color: #499249;
    transition: 0.3s;
    margin-bottom: 3px;
}
.listClass span
{
    margin-left: 5px;
}
.listClass input
{
    width: 80px;
    padding: 1px 4px;
}
.selectList
{
    font-weight: 600;
    color: #87598b !important;
}
.mainPanel
{
    width:500px; 
    height:400px; 
    margin: auto; 
    margin-top: 60px; 
    background: white; 
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); 
    padding: 5px;
    color: rgb(51, 59, 51);
}
.mainPanel .propertyBtn, .mainPanel .mainSelect
{
    margin-left: 5px;
}

.caretAppend{
    color:rgb(81, 224, 88);
}
.caretRemove{
    color:rgb(224, 81, 81);
}
.caretDisabled {
    color: #dfdfdf;
}