<div *ngIf = "_open" style = "position:absolute; width:100%; height:100%; background: rgba(255, 255, 255, 0.6); top:0px; left: 0px;">
    <div class = "mainPanel">
        <div>
            Объект класса '{{ name }}'
            <!-- <div>
                <input  class = "mainSelect" placeholder = "Имя" type = "text" [(ngModel)] = "inputName">
            </div> -->
        </div>
        <div style = "height: 310px; border:1px solid #eeeeee; margin-top:5px; padding: 3px; overflow: auto;">
            <div 
                class = "listClass" 
                *ngFor = "let list of mainList; let i = index;" 
                [style.margin-left] = "list.level * 10 + 'px'">
                <ng-container *ngIf = "i > 0">
                    <i class="fas fa-table"></i> 
                    <select class = "mainSelect" [(ngModel)] = "list.templateTreeId" (change) = "onChangeTemplate(i)">
                        <option *ngFor = "let o of listTemplateById[list.templateParentId]" [attr.value] = "o.id">{{ o.templateName }}</option>
                    </select>
                </ng-container>
                <input class = "mainSelect" type="text" [(ngModel)] = "list.name" (change) = "onChangeName(i)" placeholder="имя">
                <ng-container *ngIf = "i > 0">
                    <span style = "color:rgb(224, 81, 81);" (click) = "removeItem(i)"> <i class="fas fa-minus-circle"></i></span>
                </ng-container>
                <span *ngIf = "!list.last" style = "color:rgb(81, 224, 88);" (click) = "appendNode(i)"> <i class="fas fa-plus-circle"></i></span>
            </div>
        </div>
        <div style = "text-align: right;">
            <button class = "propertyBtn" (click) = "Cancel()">Отмена</button>
            <button class = "propertyBtn" (click) = "Create()" style = "width:75px;">
                <span *ngIf = "!loaded"><i class="fas fa-spinner spinnerLoader"></i></span>
                <span *ngIf = "loaded">Создать</span>
            </button>
        </div>
    </div>
</div>