/* .listClass
{
    color: #499249;
    transition: 0.3s;
    margin-bottom: 3px;
}
.listClass span
{
    margin-left: 5px;
}
.listClass input
{
    width: 80px;
    padding: 1px 4px;
} */
.selectList
{
    font-weight: 600;
    color: #87598b !important;
}
.mainPanel
{
    /* width:540px; 
    height:420px;  */
    margin: 5px; 
    /* margin-top: 60px;  */
    background: white; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
    padding: 5px;
    color: rgb(51, 59, 51);
    border-radius: 10px;

    transform: scale(0.8);
    opacity: 0;
    transition: 0.3s;
}
.open-modal
{
    transform: scale(1);
    opacity: 1;
}
.mainPanel .propertyBtn, .mainPanel .mainSelect
{
    margin-left: 5px;
}

.caret-append {
    color:rgb(104, 185, 97);
    margin-left:5px;
    transition: 0.3s;
    cursor: pointer;
}
.caret-append:hover {
    color:rgb(73, 148, 67);
}
.caret-remove{
    color:rgb(219, 95, 95);
    margin-left:5px;
    transition: 0.3s;
    cursor: pointer;
}
.caret-remove:hover {
    color:rgb(199, 72, 72);
}
.caret-demand{
    color:rgb(219, 200, 95);
    margin-left:5px;
    transition: 0.3s;
    cursor: pointer;
}
.caret-demand:hover {
    color:rgb(182, 165, 71);
}
.-disabled
{
    color:#dfdfdf !important;
}

.table-zebra
{
    margin-left: 5px;
}
.table-zebra tr:nth-child(2n)
{
    background-color: rgba(216, 225, 233, 0.5);
}
.bind-gap
{
    color: gray;
}