<div class = "row" style = "margin-left:0; margin-right:0;">
    <div class = "col-md-8 col-sm-12" style = "user-select:none; margin-top:7px; padding-right:5px; padding-left:5px;">
        <div style = "margin:0px;">
            <input type = "text" 
                [(ngModel)] = "searchInput" 
                (change) = "clearSearch()"
                style = "border-radius:5px; padding: 5px; border: 1px solid #eeeeee; width:100%;" 
                placeholder="Поиск">
        </div>
    </div>
    <div class = "col-md-4 col-sm-12" style = "user-select:none; margin-top:4px; padding-right:5px; padding-left:5px;">
        <select style = "height: 36px; border: 1px solid #eeeeee; border-radius:5px;" [(ngModel)] = "searchInputType">
            <option value = "">Все</option>
            <option value = "folder">Папка</option>
            <option value = "table">Таблица</option>
            <option value = "value">Значение</option>
            <option value = "event">Событие</option>
            <option value = "user">Пользователь</option>
            <option value = "role">Роль</option>
            <option value = "file">Файл</option>
        </select>
        <button class = "mainButton" title = "Поиск в папке" (click) = "searchInputObjectFromFolder()" ><i class="fas fa-search"></i></button>
        <button class = "mainButton" title = "Глобальный поиск" (click) = "searchInputObject()"><i class="fas fa-globe"></i></button>
    </div>
    <div class = "col-md-12" style = "user-select:none; padding-right:5px; padding-left:5px;">
        <button class = "mainButton" title = "Назад" (click) = "openBackFolder()"><i class="fas fa-arrow-left"></i></button>
        <button class = "mainButton" title = "Добавить элемент" (click) = "newObject()" [disabled] = "!selectRules.new"><i class="fas fa-file"></i></button>
        <button class = "mainButton" title = "Вставить" (click) = "_pasteObject()" [disabled] = "!selectRules.paste"><i class="fas fa-paste"></i></button>
        <button class = "mainButton" title = "Вырезать" (click) = "copyObject('cut')" [disabled] = "!selectRules.cut"><i class="fas fa-cut"></i></button>
        <button class = "mainButton" title = "Копировать" (click) = "copyObject('copy')" [disabled] = "!selectRules.copy"><i class="fas fa-copy"></i></button>
        <button class = "mainButton" title = "Добавить права" (click) = "createObject(outFolders[selectObjectI].id, 'Права', null)" [disabled] = "!selectRules.rights"><i class="fas fa-address-card"></i></button>
        <button class = "mainButton" title = "Справка" (click) = "addInfo()" [disabled] = "!selectRules.info"><i class="fas fa-info"></i></button>
        <button class = "mainButton" title = "Удалить" (click) = "removeObject()" [disabled] = "!selectRules.remove"><i class="fas fa-trash"></i></button>
        <button class = "mainButton" title = "Скачать" (click) = "downloadObject()" [disabled] = "!selectRules.download"><i class="fas fa-download"></i></button>
        <button class = "mainButton" title = "Обновить" (click) = "refresh(true)"><i class="fas fa-sync-alt"></i></button>
        <button *ngIf = "viewType == 'list'" class = "mainButton" title = "Вид список" (click) = "changeViewType()"><i class="fas fa-th"></i></button>
        <button *ngIf = "viewType == 'table'" class = "mainButton" title = "Вид таблица" (click) = "changeViewType()"><i class="fas fa-list"></i></button>
    </div>
    <div class = "col-md-12" style = "font-size:12px; color:#8f8f8f">
        <span *ngFor = "let path of allPath" (click) = "openObject({objectType: 'folder', id: path.id})" style = "cursor:pointer;">{{ path.name }}/</span>
    </div>
    <br>
    <div [class.col-md-12] = "!listLink.visible" 
        style = "overflow: auto;"
        [style.height] = "heightListElement + 'px'"
        [class.col-md-8] = "listLink.visible"
        [class.explorerMain] = "viewType == 'table'"
        [class.explorerMainList] = "viewType == 'list'">
        <span *ngFor = "let object of outFolders; let i = index;">
            <div *ngIf = "object.visible !== false"
                (click) = "selectObject(i)"
                (dblclick) = "openObject(object)"
                (contextmenu) = "getContextmenu($event, i)"
                [class.elementExplorer] = "viewType == 'table'"
                [class.elementExplorerList] = "viewType == 'list'"
                [class.selectElementExplorer] = "i == selectObjectI"
                [class.selectSearchElementExplorer] = "i != selectObjectI && i == searchObjectI"
                [class.selectCopyElementExplorer] = "i != selectObjectI && object.id == selectObjectCopy.id"
                [class.selectCopyElementExplorerOpacity] = "i != selectObjectI && object.id == selectObjectCopy.id && selectObjectCopy.type == 'cut'"
                title = "{{ object.name }}">
                <div *ngIf = "viewType == 'table'" style = "padding:5px;">
                    <span *ngIf = "object.objectType == 'folder'"><i class="fas fa-folder" style = "font-size: 55px;"></i></span>
                    <span *ngIf = "object.objectType == 'table'"><i class="fas fa-table colorIconTable" style = "font-size: 55px;"></i></span>
                    <span *ngIf = "object.objectType == 'user'"><i class="fas fa-user colorIconRole" style = "font-size: 55px;"></i></span>
                    <span *ngIf = "object.objectType == 'event'"><i class="fas fa-bolt colorIconEvent" style = "font-size: 55px;"></i></span>
                    <span *ngIf = "object.objectType == 'role'"><i class="fas fa-address-book colorIconRole" style = "font-size: 55px;"></i></span>
                    <span *ngIf = "object.objectType == 'value'"><i class="fas fa-superscript colorIconValue" style = "font-size: 55px;"></i></span>
                    <span *ngIf = "object.objectType == 'file'">
                        <i *ngIf = "object.fileType == 'img'" class="fas fa-file-image colorIconFile" style = "font-size: 55px;"></i>
                        <i *ngIf = "object.fileType == 'xls'" class="fas fa-file-excel colorIconFile" style = "font-size: 55px;"></i>
                        <i *ngIf = "object.fileType == 'doc'" class="fas fa-file-word colorIconFile" style = "font-size: 55px;"></i>
                    </span>
                    <span *ngIf = "object.objectType == 'tlist'"><i class="fas fa-list-ol colorIconValue" style = "font-size: 55px;"></i></span>
                    <span *ngIf = "object.objectType == 'label'"><i class="fas fa-share-square colorIconRole" style = "font-size: 55px;"></i></span>
                </div>
                <div *ngIf = "viewType == 'list'" class = "listIcon">
                    <span *ngIf = "object.objectType == 'folder'"><i class="fas fa-folder" style = "font-size: 16px;"></i></span>
                    <span *ngIf = "object.objectType == 'table'"><i class="fas fa-table colorIconTable" style = "font-size: 16px;"></i></span>
                    <span *ngIf = "object.objectType == 'user'"><i class="fas fa-user colorIconRole" style = "font-size: 16px;"></i></span>
                    <span *ngIf = "object.objectType == 'event'"><i class="fas fa-bolt colorIconEvent" style = "font-size: 16px;"></i></span>
                    <span *ngIf = "object.objectType == 'role'"><i class="fas fa-address-book colorIconRole" style = "font-size: 16px;"></i></span>
                    <span *ngIf = "object.objectType == 'value'"><i class="fas fa-superscript colorIconValue" style = "font-size: 16px;"></i></span>
                    <span *ngIf = "object.objectType == 'file'">
                        <i *ngIf = "object.fileType == 'img'" class="fas fa-file-image colorIconFile" style = "font-size: 16px;"></i>
                        <i *ngIf = "object.fileType == 'xls'" class="fas fa-file-excel colorIconFile" style = "font-size: 16px;"></i>
                        <i *ngIf = "object.fileType == 'doc'" class="fas fa-file-word colorIconFile" style = "font-size: 16px;"></i>
                    </span>
                    <span *ngIf = "object.objectType == 'tlist'"><i class="fas fa-list-ol colorIconValue" style = "font-size: 16px;"></i></span>
                    <span *ngIf = "object.objectType == 'label'"><i class="fas fa-share-square colorIconRole" style = "font-size: 16px;"></i></span>
                </div>
                <div *ngIf = "object.bindId" 
                    style = "position:absolute; right:25px; bottom:20px;" 
                    [style.right] = "viewType == 'table' ? '25px' : '3px'"
                    [style.bottom] = "viewType == 'table' ? '20px' : '2px'">
                    <i class="fas fa-link" style = "font-size: 14px; color: #ec9b6c"></i>
                </div>
                <div *ngIf = "object.state > 0" [class.listStateIcon] = "viewType == 'list'"  [class.tableStateIcon] = "viewType == 'table'">
                    <i *ngIf = "object.state < 50" class="fas fa-circle LowState" style = "font-size: 12px;"></i>
                    <i *ngIf = "object.state >= 50 && object.state < 100" class="fas fa-circle MiddleState" style = "font-size: 12px;"></i>
                    <i *ngIf = "object.state == 100" class="fas fa-circle HightState" style = "font-size: 12px;"></i>
                </div>
                <div *ngIf = "viewType == 'table'" style = "border-top:1px solid #eeeeee; position: absolute; bottom:0px; width: calc(100% + 10px); left:-5px; height:24px;"></div>
                {{ object.name }}
            </div>
        </span>
        <span class = "col-md-12" *ngIf = "outFolders.length == 0" style = "color:#b8b8b8; font-size:24px; font-weight:bold"> Папка пуста</span>
    </div>
    <!-- Просмотр связей -->
    <div *ngIf = "listLink.visible" class = "col-md-4" style = "display: flex; color: #456486; flex-wrap: wrap; font-size:12px; border-left:1px solid #b8b8b8;"> 
        <span *ngIf = "listLink.fromInherit.length == 0 && listLink.whoInherit.length == 0 && listLink.whoRefer.length == 0" 
            class = "col-md-12" 
            style = "color:#b8b8b8; font-size:24px; font-weight:bold"> Связи отсутсвуют</span>
        <div *ngIf = "listLink.fromInherit.length != 0" class = "col-md-12">
            <div style = "font-size:16px; font-weight:bold;">Объект наследуется от:</div>
            <div *ngFor = "let data of listLink.fromInherit" class = "linkTable" (click) = "openTable(data[0])">
                <span *ngIf = "data[1] == 'table'"><i class="fas fa-table colorIconTable"></i> </span>
                {{ data[2] }}
            </div>
        </div>
        <div *ngIf = "listLink.whoInherit.length != 0" class = "col-md-12">
            <div style = "font-size:16px; font-weight:bold;">Объект наследуют:</div>
            <div *ngFor = "let data of listLink.whoInherit" class = "linkTable" (click) = "openTable(data[0])">
                <span *ngIf = "data[1] == 'table'"><i class="fas fa-table colorIconTable"></i> </span>
                {{ data[2] }}
            </div>
        </div>
        <div *ngIf = "listLink.whoRefer.length != 0" class = "col-md-12">
            <div style = "font-size:16px; font-weight:bold;">Объект используется:</div>
            <div *ngFor = "let data of listLink.whoRefer">
                <div (click) = "openTable(data.id)" class = "linkTable">
                    <i class="fas fa-table colorIconTable"></i> {{ data.name }}
                </div>
                <div *ngFor = "let _data of data.fields" class = "linkField" (click) = "openField(_data, data.id)">
                    <i class="fas fa-cube"></i> Ячейка {{ _data }}
                </div>
            </div>
        </div>
        <button style = "position:absolute; right:5px; top:5px; color:#eb7e7e; font-size:16px; background:none; border:none; cursor:pointer;" (click) = "closeListLink()">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>            
    <div class = "col-md-12" style = "margin-top:25px; height:20px;background-color:#ececec; line-height:20px; padding-left:3px;">
        <span *ngIf = "load" style = "color:#757575;font-size:12px;">Loading...</span>
    </div>
</div>
<div class = "createContextMenu" [hidden] = "!createContextMenu.visible" [style.top] = "createContextMenu.top" [style.left] = "createContextMenu.left">
    <button class = "contextMenuList" (click) = "getRenameObject()" [disabled] = "!selectRules.rename">
        <span *ngIf = "!selectRules.rename"><i class="fas fa-lock" style = "font-size:10px;"></i></span>
         Переименовать</button>
    <button class = "contextMenuList" (click) = "getListLink()">Показать связи</button>
    <button *ngIf = "createContextMenu.type == 'table'" class = "contextMenuList" (click) = "createListOfTable()" [disabled] = "!selectRules.cut">
        <span *ngIf = "!selectRules.cut"><i class="fas fa-lock" style = "font-size:10px;"></i></span>
        Создать список из столбца</button>
    <button class = "contextMenuList" (click) = "copyObject('cut')" [disabled] = "!selectRules.cut">
        <span *ngIf = "!selectRules.cut"><i class="fas fa-lock" style = "font-size:10px;"></i></span>
        Вырезать</button>
    <button class = "contextMenuList" (click) = "copyObject('copy')" [disabled] = "!selectRules.copy">
        <span *ngIf = "!selectRules.copy"><i class="fas fa-lock" style = "font-size:10px;"></i></span>
        Копировать</button>
    <button class = "contextMenuList" (click) = "createObject(outFolders[selectObjectI].id, 'Права', null)" [disabled] = "!selectRules.rights">
        <span *ngIf = "!selectRules.rights"><i class="fas fa-lock" style = "font-size:10px;"></i></span>
        Добавить права</button>
    <button class = "contextMenuList" (click) = "addInfo()" [disabled] = "!selectRules.info">
        <span *ngIf = "!selectRules.info"><i class="fas fa-lock" style = "font-size:10px;"></i></span>
        Справка</button>
    <button class = "contextMenuList" (click) = "removeObject()" [disabled] = "!selectRules.remove">
        <span *ngIf = "!selectRules.remove"><i class="fas fa-lock" style = "font-size:10px;"></i></span>
        Удалить</button>
    <button class = "contextMenuList" (click) = "createLabel()">
        <span><i class="fas fa-share-square" style = "font-size:10px;"></i></span>
        Создать ярлык</button>
    <button class = "contextMenuList" (click) = "downloadObject()" [disabled] = "!selectRules.download">
        <span *ngIf = "!selectRules.download"><i class="fas fa-lock" style = "font-size:10px;"></i></span>
        Скачать</button>
</div>
<modalwindow #modal></modalwindow>