.explorer
{
    padding: 5px; 
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    height: 100%;
}
.explorerWithProperty
{
}
.explorerFull
{
    grid-column: 1 / 3;
}
.explorerDouble
{
    grid-column: 1 / 2;
}
.tableProperty
{
    grid-column: 2 / 3;
    min-width: 260px;
    color: #456486; 
    font-size:12px; 
    position:relative; 
    padding:5px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #aaaaaa;
    max-height: 520px;
    background-color: white;
}
.tablePropertyTab
{
    border:1px solid #dddddd; 
    padding:2px;
    background-color: #eeeeee;
    cursor:pointer;
}
.tablePropertyTabActive
{
    background-color: #ffffff;
    border-bottom: none;
}
.enableButton
{
    background-color: rgb(187, 230, 139);
}
.pathStroke
{
    float: left;
    box-shadow: 0px 0px 3px 0px #aaaaaa;
    border-radius: 10px; 
    margin-bottom:5px;
}
/* .pathStroke span:first-child
{
    margin-left:5px;
}
.pathStroke span:last-of-type
{
    margin-right:5px;
} */
@media screen and (max-width: 500px) {
    .explorer
    {
        overflow: auto;
        grid-template-rows: auto 1fr;
    }
    .explorerWithProperty
    {
        grid-template-rows: auto 400px 400px;
    }
    .explorerFull {
        grid-column: 1 / 3;
    }
    .explorerDouble {
        grid-column: 1 / 3;
    }
    .tableProperty {
        grid-column: 1 / 3;
        margin-left: 0px;
        margin-top: 5px;
    }
    .pathStroke
    {
        width: 100%;
    }
}
.explorerMain
{
    display: flex; 
    align-content: flex-start;
    /*color: #6085ac;*/ 
    flex-wrap: wrap; 
    font-size:12px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #aaaaaa;
}
@media (max-width: 600px) {
    .explorerMain {     justify-content: center; }
}
.explorerMainList
{
    color: #6085ac; 
    flex-wrap: wrap; 
    font-size:12px;
}
.blockScreen
{
    position:absolute; 
    top:0px; 
    left:0px; 
    width:100%; 
    height:100%; 
    background-color:rgba(255, 255, 255, 0.7); 
    text-align:center; 
    padding-top: 20px; 
    font-size:14px;
}
.pathRow
{
    font-size:12px;
    color: #8f8f8f;
    transition: 0.3s;
}
.pathRow:hover
{
    color: #000000;
}
.elementExplorer
{
    text-align:center;
    overflow: hidden;
    margin: 5px; 
    cursor: pointer;
    padding: 5px;
    border: 2px solid transparent;
    position: relative;
}
.elementExplorer:hover
{
    transition: 0s;
    background-color: white;
}
.elementExplorerIcon
{
    width: 80px; 
    height:80px; 
    line-height: 80px; 
    border-radius: 40px; 
    padding-top:12px;
    margin-bottom: 2px;
    background-color: white;
}
/* .elementExplorer:active
{
    transition: 0.2s;
    transform: scale(0.9);
} */
.wordCenter
{
    position: absolute; 
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%); 
    cursor: pointer;
    color:#b8b8b8; 
    font-size:20px; 
    font-weight:bold;
    white-space: nowrap;
}
.elementExplorerText
{
    width: 80px; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.elementExplorerList
{
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px;
    border: 2px solid #ffffff;
    position: relative;
    font-size: 16px;
    width: 320px;
}
.selectElementExplorer
{
    /* border: 1px solid #cccccc; */
    background-color: white !important;
    user-select: none;
}
.selectCopyElementExplorer
{
    border: 2px dashed #456486;
    user-select: none;
}
.selectCopyElementExplorerOpacity
{
    opacity: 0.7;
}
.selectSearchElementExplorer
{
    border: 2px solid #46478b;
}
.listIcon
{
    float: left;
    font-size: 16px;
    margin-right:5px;
}
.linkTable
{
    cursor: pointer;
    font-size:14px;
}
.linkTable:hover
{
    text-decoration: underline;
}

.linkField
{
    cursor: pointer;
    font-size:12px;
    margin-left:15px;
}
.linkField:hover
{
    text-decoration: underline;
}

.iconPanel
{
    width:76px; 
    display:flex; 
    position: absolute; 
    top: 64px; 
    margin-left: 7px; 
    justify-content:flex-end;
}
.iconPanel div
{
    padding: 0px 4px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #456486;
    /* box-shadow: 0 0px 3px 2px #54293f45; */
    color: white;
}
/************************************************/
.explorerControlPanel
{
    position: relative;
    padding-bottom: 3px;
}
.explorerControlPanel button
{
    float:right;
    margin-bottom: 3px;
    margin-left:5px;
}

.tableInequality
{
    width:100%;
}
.tableInequality th
{
    font-size: 12px;
    text-align: center;
}
.tableInequality td
{
    border: 1px solid #eeeeee;
    padding: 0px 5px;
    cursor: pointer;
}
.tableInequality td:hover
{
    background-color: #eeeeee;
}
/********************************************************/
.customImage
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loadBar
{
    position: relative;
    width:200px;
    margin:auto;
    margin-top:10px;
    height:6px;
    background-color: #c7c7c7;
    border-radius: 5px;
    overflow: hidden;
}
.loadBarLine
{
    position: absolute;
    top:0px;
    left:0px;
    background-color: #7db85b;
    border-radius: 5px;
    height:6px;
    transition: 0.3s;
}
/**********************************************/
.xlsTable
{
    background-color: white;
    font-size: 12px;
}
.xlsTable td
{
    border: 1px solid rgb(212, 212, 212);
}
.xlsTable tr:first-child td
{
    text-align: center;
}
.xlsTable td:first-child
{
    text-align: center;
}
.xlsSheetActive
{
    color: rgb(33, 115, 70);
    border-bottom: 2px solid rgb(33, 115, 70);
}