<div class = "explorer ExplorerBColor"
    [class.explorerWithProperty] = "tableProperty.visible">
    <div class = "explorerControlPanel explorerFull">
        <div class = "pathStroke MainBColor">
            <ng-container *ngFor = "let path of allPath; let last = last;">
                <span *ngIf = "!last" class = "pathRow" (click) = "openObject({objectType: 'folder', id: path.id})" style = "cursor:pointer;">{{ path.name }}/</span>
                <div *ngIf = "last" style = "padding-bottom: 2px;">
                    <div class = "pathRow" style = "font-size:14px; cursor: pointer; margin-top:8px; float:left; margin-left: 5px;" title = "Назад" (click) = "openBackFolder()"><i class="fas fa-arrow-left"></i></div>
                    <div style = "font-size:20px; float:left; height:32px; margin-left:10px; margin-right:10px; margin-top:3px;">{{ path.name }}</div>
                    
                </div>
            </ng-container>
        </div> 
        <button class = "mainButton" title = "Вставить" (click) = "_pasteObject()" [disabled] = "!selectRules.paste || inputs.parentBind"><i class="fas fa-paste"></i></button>
        <button class = "mainButton" [class.enableButton] = "tableProperty.visible" title = "Таблица свойств" (click) = "openTableProperty()"><i class="fas fa-briefcase"></i></button>
        <button class = "mainButton" title = "Поиск" (click) = "openSearch()"><i class="fas fa-search"></i></button>
        <button class = "mainButton" title = "Удалить" (click) = "removeObject()" [disabled] = "!selectRules.remove"><i class="fas fa-trash"></i></button>
        <button class = "mainButton" title = "Обновить" (click) = "refresh(true)"><i class="fas fa-sync-alt"></i></button>
        <button class = "mainButton" title = "Добавить элемент" (click) = "newObject()" [disabled] = "!selectRules.new"><i class="fas fa-file"></i></button>
    </div>
    <div class = "explorerMain MainBColor"
        [class.explorerDouble] = "tableProperty.visible"
        [class.explorerFull] = "!tableProperty.visible"
        (contextmenu) = "getContextmenuMain($event)">
        <span *ngFor = "let object of outFolders; let i = index;">
            <div *ngIf = "object.visible !== false"
                (click) = "selectObject(i)"
                (dblclick) = "openObject(object)"
                (contextmenu) = "getContextmenu($event, i)"
                [class.elementExplorer] = "viewType == 'table'"
                [class.elementExplorerList] = "viewType == 'list'"
                [class.selectElementExplorer] = "i == selectObjectI"
                [class.selectSearchElementExplorer] = "i != selectObjectI && i == searchObjectI"
                [class.selectCopyElementExplorer] = "i != selectObjectI && object.id == selectObjectCopy.id"
                [class.selectCopyElementExplorerOpacity] = "i != selectObjectI && object.id == selectObjectCopy.id && selectObjectCopy.type == 'cut'"
                title = "{{ object.name }}">
                <div *ngIf = "viewType == 'table'" class = "elementExplorerIcon">
                    <span *ngIf = "object.objectType == 'folder'"><i class="fas fa-folder colorIconFolder" style = "font-size: 55px;"></i></span>
                    <span *ngIf = "object.objectType == 'filter'"><i class="fas fa-filter colorIconTable" style = "font-size: 45px;"></i></span>
                    <span *ngIf = "object.objectType == 'table'"><i class="fas fa-table colorIconTable" style = "font-size: 45px;"></i></span>
                    <span *ngIf = "object.objectType == 'class'"><i class="fa fa-pencil-ruler colorIconExplorer" style = "font-size: 40px;"></i></span>
                    <span *ngIf = "object.objectType == 'user'"><i class="fas fa-user colorIconRole" style = "font-size: 45px;"></i></span>
                    <span *ngIf = "object.objectType == 'event'"><i class="fas fa-bolt colorIconEvent" style = "font-size: 40px; margin-top:10px;"></i></span>
                    <span *ngIf = "object.objectType == 'role'"><i class="fas fa-address-book colorIconRole" style = "font-size: 45px;"></i></span>
                    <span *ngIf = "object.objectType == 'log'"><i class="fas fa-book colorIconTable" style = "font-size: 45px;"></i></span>
                    <span *ngIf = "object.objectType == 'plan'"><i class="fa fa-chart-bar colorIconTable" style = "font-size: 45px;"></i></span>
                    <span *ngIf = "object.objectType == 'file'">
                        <i *ngIf = "object.fileType == 'img'" class="fas fa-file-image colorIconFile" style = "font-size: 45px;"></i>
                        <i *ngIf = "object.fileType == 'xls'" class="fas fa-file-excel colorIconFile" style = "font-size: 45px;"></i>
                        <i *ngIf = "object.fileType == 'doc'" class="fas fa-file-word colorIconFile" style = "font-size: 45px;"></i>
                    </span>
                    <span *ngIf = "object.objectType == 'tlist'"><i class="fas fa-list-alt colorIconTlist" style = "font-size: 45px;"></i></span>
                    <span *ngIf = "object.objectType == 'label'"><i class="fas fa-share-square colorIconRole" style = "font-size: 45px;"></i></span>
                </div>
                <div style = "position:relative; width:80px; height:2px;" [class.substrate] = "object.state > 0">
                    <div style = "position:absolute; top:0px; left:0px; height:100%;" 
                    [style.width] = "object.state + '%'"
                    [class.tableCellStateRed] = "object.state < 50"
                    [class.tableCellStateYellow] = "object.state >= 50 && object.state < 100"
                    [class.tableCellStateGreen] = "object.state == 100"></div>
                </div>
                <div class = "iconPanel">
                    <div *ngIf = "object.count > 0">
                        {{object.count}}
                    </div>
                    <div *ngIf = "object.bindId" style = "margin-left:2px;">
                        <i class="fas fa-link"></i>
                    </div>
                </div>
                <div class = "elementExplorerText">{{ object.name }}</div>
            </div>
        </span>
        <span *ngIf = "outFolders.length == 0" style = "color:#7e7e7e; font-size:24px; font-weight:bold; margin-left: 10px;"> Папка пуста</span>
    </div>
    <div *ngIf = "tableProperty.visible && selectObjectI != -1" 
        class = "tableProperty"> 
        <div style = "width:100%; height:50%; overflow: auto; display: flex; flex-wrap: wrap; position: relative;">
            <div *ngIf = "!tableProperty.listLink.visible"
                (click) = "getListLink()"
                class = "wordCenter">Показать связи</div>
            <ng-container *ngIf = "tableProperty.listLink.visible">
                <div *ngIf = "tableProperty.listLink.empty" 
                    class = "wordCenter">Связи отсутсвуют</div>
                <div *ngIf = "tableProperty.listLink.fromInherit.length != 0">
                    <div style = "font-size:16px; font-weight:bold;">Объект наследуется от:</div>
                    <div *ngFor = "let data of tableProperty.listLink.fromInherit" class = "linkTable" (click) = "openTable(data[0])">
                        <span *ngIf = "data[1] == 'table'"><i class="fas fa-table colorIconTable"></i> </span>
                        {{ data[2] }}
                    </div>
                </div>
                <div *ngIf = "tableProperty.listLink.whoInherit.length != 0">
                    <div style = "font-size:16px; font-weight:bold;">Объект наследуют:</div>
                    <div *ngFor = "let data of tableProperty.listLink.whoInherit" class = "linkTable" (click) = "openTable(data[0])">
                        <span *ngIf = "data[1] == 'table'"><i class="fas fa-table colorIconTable"></i> </span>
                        {{ data[2] }}
                    </div>
                </div>
                <div *ngIf = "tableProperty.listLink.whoRefer.length != 0">
                    <div style = "font-size:16px; font-weight:bold;">Объект используется:</div>
                    <div *ngFor = "let data of tableProperty.listLink.whoRefer">
                        <div (click) = "openTable(data.id)" class = "linkTable">
                            <i class="fas fa-table colorIconTable"></i> {{ data.name }}
                        </div>
                        <div *ngFor = "let _data of data.fields" class = "linkField" (click) = "openField(_data, data.id)">
                            <i class="fas fa-cube"></i> Ячейка {{ _data }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <app-table-property #appTableProperty [mainData] = "outFolders[selectObjectI]" [rules] = "tableProperty.rules"></app-table-property>
        <div class = "ModalButtonExitColor" style = "position:absolute; right:5px; top:5px; font-size:16px; cursor:pointer;" (click) = "closeTableProperty()">
            <i class="fas fa-times-circle"></i>
        </div>
    </div>
</div>
<div class = "createContextMenu" [hidden] = "!createContextMenu.visible" [style.top] = "createContextMenu.top" [style.left] = "createContextMenu.left">
    <button class = "contextMenuList" (click) = "getTableProperty()">Таблица свойств</button>
    <ng-container *ngIf = "createContextMenu.type == 'table'">
        <button class = "contextMenuList" (click) = "openTableFilter()">
            Открыть фильтры</button>
        <button class = "contextMenuList" (click) = "createListOfTable()" [disabled] = "!selectRules.cut">
            Создать список из столбца</button>
    </ng-container>
    <ng-container *ngIf = "createContextMenu.type == 'user'">
        <button class = "contextMenuList" (click) = "userOff()" [disabled] = "!selectRules.remove">
            Отключить</button>
    </ng-container>
    <ng-container *ngIf = "createContextMenu.type == 'plan'">
        <button class = "contextMenuList" (click) = "openAsTable()">
            Открыть как таблицу</button>
    </ng-container>
    <button class = "contextMenuList" (click) = "copyObject('cut')" [disabled] = "!selectRules.cut">
        Вырезать</button>
    <button class = "contextMenuList" (click) = "copyObject('copy')" [disabled] = "!selectRules.copy">
        Копировать</button>
    <button class = "contextMenuList" (click) = "createObject(outFolders[selectObjectI].id, 'Права', null)" [disabled] = "!selectRules.rights">
        Добавить права</button>
    <button class = "contextMenuList" (click) = "addInfo()" [disabled] = "!selectRules.info">
        Справка</button>
    <button class = "contextMenuList" (click) = "removeObject()" [disabled] = "!selectRules.remove">
        Удалить</button>
    <button class = "contextMenuList" (click) = "createLabel()">
        <span><i class="fas fa-share-square" style = "font-size:10px;"></i></span>
        Создать ярлык</button>
    <button class = "contextMenuList" (click) = "downloadObject()" [disabled] = "!selectRules.download">
        Скачать</button>
</div>
<div class = "createContextMenu" [hidden] = "!createContextMenuMain.visible" [style.top] = "createContextMenuMain.top" [style.left] = "createContextMenuMain.left">
    <button class = "contextMenuList" (click) = "newObject()" [disabled] = "!selectRules.new">
        Создать</button>
    <button class = "contextMenuList" (click) = "_pasteObject()" [disabled] = "!selectRules.paste || inputs.parentBind">
        Вставить</button>
    <button *ngIf = "selectObjectCopy.objectType == 'class'" class = "contextMenuList" (click) = "createProjectByClass()" [disabled] = "!selectRules.paste || inputs.parentBind">
        Создать проект</button>
    <button class = "contextMenuList" (click) = "refresh(true)">
        Обновить</button>
    <button class = "contextMenuList" (click) = "openBackFolder()">
        Назад</button>
</div>
<div *ngIf = "load" class = "blockScreen"> Загрузка... </div>
<div *ngIf = "mainSearch.open" class = "blockScreen">
    <div style = "position: absolute; top:0px; width:100%; background-color: #414141; padding:10px;">
        <div style = "width:100%; margin:auto;">
            <input type = "text" 
                class = "mainSelect"
                [(ngModel)] = "searchInput" 
                (change) = "clearSearch()"
                style = "padding: 5px; height: 32px; width:84%; max-width:450px;" 
                placeholder="Поиск">
            <select style = "height: 32px;" class = "mainSelect" [(ngModel)] = "searchInputType">
                <option value = "">Все</option>
                <option value = "folder">Папка</option>
                <option value = "table">Таблица</option>
                <option value = "event">Событие</option>
                <option value = "user">Пользователь</option>
                <option value = "role">Роль</option>
                <option value = "file">Файл</option>
            </select>
            <button class = "mainButton" style = "background-color: transparent; color: white; border-color: transparent;" title = "Поиск в папке" (click) = "searchInputObjectFromFolder()" ><i class="fas fa-search"></i></button>
            <button class = "mainButton" style = "background-color: transparent; color: white; border-color: transparent;" title = "Глобальный поиск" (click) = "searchInputObject()"><i class="fas fa-globe"></i></button>
            <button class = "mainButton" style = "background-color: transparent; color: white; border-color: transparent;" title = "Закрыть" (click) = "closeMainSearch()"><i class="fa fa-times-circle"></i></button>
        </div>
    </div>
</div>
<modalwindow #modal></modalwindow>
<app-create-template [open] = "projectByClassSetting.open" [config] = "parent"></app-create-template>