.tableProperty
{
    width:100%;
}
.tableProperty td
{
    border: 1px solid #eeeeee;
    padding: 0px 5px;
}
.blockTD
{
    background-color: #f8f8f8;
}
/* .tableProperty td:first-child
{
    min-width:100px;
} */
.tableProperty td input
{
    width:100%;
    border: none;
    padding: 0px 5px;
}
.tdInput
{
    padding: 0px !important;
}