.tableProperty
{
    width:100%;
}
.tableProperty td
{
    border: 1px solid #eeeeee;
    padding: 0px 5px;
}
/* .tableProperty td:first-child
{
    min-width:100px;
} */
.tableProperty td input
{
    width:100%;
    border: none;
    padding: 0px 5px;
}
.tdInput
{
    padding: 0px !important;
}
/*******************************************************/
.propertyBtn
{
    width:100%; 
    border-radius: 5px; 
    height:24px; 
    border:none; 
    background-color: #007bff; 
    color:white; 
    margin-top:5px; 
    cursor: pointer;
    transition: 0.3s;
}
.propertyBtn:hover
{
    background-color: #2b91ff; 
}
.propertyBtn:disabled
{
    background-color: #dfdfdf; 
    color:rgb(182, 182, 182);
}