<div style = "height:calc(100% - 20px); display:grid; grid-template-rows: 1fr auto;">
    <div style="overflow:auto; width:100%;">
        <table class = "tableProperty">
            <tbody>
                <tr><td colspan="3" style = "font-weight: bold;">Основные</td></tr>
                <ng-container *ngFor = "let p of property">
                    <tr *ngIf = "(p.type != 'table' && p.type != 'object') || p.value">
                        <td colspan="2">{{p.desc}}</td>
                        <td class = "blockTD" *ngIf = "p.type == 'block'">{{p.value}}</td>
                        <td *ngIf = "p.type == 'edit'" class = "tdInput"><input type = "text" [(ngModel)] = "p.value" (change) = "onInputChange(p)"></td>
                        <td *ngIf = "p.type == 'checkbox'" ><input type = "checkbox" [(ngModel)] = "p.value" (change) = "onInputChange(p)"></td>
                        <td *ngIf = "p.type == 'table'" style = "position:relative;">
                            {{ p.value.id }}
                            <span (click) = "openObject(p)"
                                style = "position: absolute; right: 3px; top:1px;cursor:pointer;">
                                <i class="fas fa-arrow-circle-right"></i>
                            </span>
                        </td>
                        <td *ngIf = "p.type == 'object'" class = "tdInput" style = "position:relative;">
                            <input type = "text" [(ngModel)] = "p.value.id" (change) = "onInputChange(p)">
                            <span (click) = "pasteObject(p)"
                                style = "position: absolute; right: 18px; top:1px;cursor:pointer;">
                                <i class="fas fa-paste"></i>
                            </span>
                            <span (click) = "openObject(p)"
                                style = "position: absolute; right: 3px; top:1px;cursor:pointer;">
                                <i class="fas fa-arrow-circle-right"></i>
                            </span>
                        </td>
                    </tr>
                </ng-container>
                <tr><td colspan="3" style = "font-weight: bold;">Пользовательские</td></tr>
                <tr *ngFor = "let p of userProperty; let i = index;">
                    <ng-container *ngIf = "p.type !== 'block' && selectRules.change">
                        <td style = "color:red; cursor: pointer;" (click) = "removeUserProperty(i)"><span *ngIf = "p.type != 'annotation'"><i class="fas fa-minus-circle"></i></span></td>
                        <td class = "tdInput">
                            <input *ngIf = "p.type != 'annotation'" type = "text" [(ngModel)] = "p.name" (change) = "onInputChangeUser(p)">
                            <span *ngIf = "p.type == 'annotation'">{{ p.name }}</span>
                        </td>
                        <td class = "tdInput" style = "position:relative;">
                            <input type = "text" [(ngModel)] = "p.type == 'annotation' ? p.value.id : p.value" (change) = "onInputChangeUser(p)">
                            <ng-container *ngIf = "p.type == 'annotation'">
                                <span (click) = "pasteObject(p)"
                                    style = "position: absolute; right: 18px; top:1px;cursor:pointer;">
                                    <i class="fas fa-paste"></i>
                                </span>
                                <span (click) = "openObject(p)"
                                    style = "position: absolute; right: 3px; top:1px;cursor:pointer;">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </span>
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container *ngIf = "p.type == 'block' || !selectRules.change">
                        <td></td>
                        <td class = "blockTD">{{p.name}}</td>
                        <td class = "blockTD">{{p.value}}</td>
                    </ng-container>
                </tr>
                <tr>
                    <td colspan="3" style = "text-align: center;">
                        <button class = "propertyBtn" (click) = "addUserProperty()" style = "width:50%; margin-bottom:5px;" [disabled] = "!selectRules.change">Добавить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class = "propertyBtn" style = "width:100%;" [disabled] = "!change" (click) = "saveProperty()">Сохранить</button>
    </div>
</div>