<div name = "clickArea" #mainContainer style = "overflow:auto;" [style.height] = "height">
    <table class = "errorTable TableCreatorBorderColor">  <!--  -->
        <tbody (click) = "editField($event)">
            <tr>
                <th name = "clickArea" class = "TableCreatorHeadColor"></th>
                <th name = "clickArea" *ngFor = "let head of header; let i = index;" 
                    class = "TableCreatorHeadColor TableCreatorHeadBColor" 
                    id = "{{ head.value }}"
                    (contextmenu) = "getContextmenu($event, i, 'head')">
                    {{ head.name }}
                    <div class="linkClass">
                        <span *ngIf = "head.dataType == 'NUMBER'" class = "linkValueClass" style = "padding-left: 3px; padding-right: 4px;">123</span>
                        <span *ngIf = "head.dataType == 'STRING'" class = "linkValueClass" style = "padding-left: 2px; padding-right: 2px;">str</span>
                        <span *ngIf = "head.dataType == 'DATETIME'" class = "linkValueClass">
                            <i class="fas fa-clock"></i>
                        </span>
                        <span *ngIf = "head.dataType == 'tlist'" class = "linkValueClass">
                            <i class="fas fa-bars"></i>
                        </span>
                        <span *ngIf = "head.eventId" class = "linkCellClass">
                            <i class = "fa fa-bolt"></i>
                        </span>
                    </div>
                </th>
            </tr>
            <tr>
                <td style = "padding:0px;"></td>
                <td *ngFor = "let filter of filterHeader; let i = index;" style = "padding:0px;">
                    <input type = "text" 
                        style = "width:100%; height:22px; border:1px solid transparent; padding:5px; color:#aaaaaa;" 
                        placeholder="Поиск"
                        [(ngModel)] = "filter.value"
                        (input) = "onChangeFilter(i, $event.target.value)">
                </td>
            </tr>
            <ng-container *ngFor = "let row of listTables; let i = index;">
                <tr *ngIf = "!mapHideRows[i]">
                    <td (contextmenu) = "getContextmenu($event, i, 'row')" class = "TableCreatorHeadColor TableCreatorHeadBColor">{{ i + 1 }}</td>
                    <td *ngFor = "let void of header; let j = index;" 
                        id = "{{ row[j].id }}"
                        (contextmenu) = "getContextmenu($event, i, 'cell')"
                        [style.background] = "row[j].id == searchCellId ? '#e7f5c6' : (row[j].id == inputProperty._colorId ? '#9abfe225' : none)">
                        {{ row[j] != undefined && row[j].listValue !== undefined ? row[j].listValue : row[j].value }}
                        <div class="linkClass">
                            <span *ngIf = "(row[j].type == 'tlist')" class = "linkCellClass">
                                <i class="fas fa-bars"></i>
                            </span>
                            <span *ngIf = "row[j].type == 'table'" class = "linkValueClass">
                                <i class = "fa fa-table"></i>
                            </span>
                            <span *ngIf = "row[j].type == 'cell'" class = "linkCellClass" [class.linkErrorClass] = "row[j].value == null">
                                <i class = "fa fa-link"></i>
                            </span>
                            <span *ngIf = "row[j].type == 'file'" class = "linkValueClass">
                                <i class = "fa fa-file"></i>
                            </span>
                            <span *ngIf = "row[j].eventId" class = "linkCellClass" (dblclick) = "openEventToExplorer(row[j].eventId)">
                                <i class = "fa fa-bolt"></i>
                            </span>
                        </div>
                        <div style = "position:absolute; pointer-events:none; width:100%; height:100%; top:0px; left:0px;">
                            <div *ngIf = "row[j].state" [style.width] = "row[j].state + '%'" class = "tableStateLoading" 
                                [class.tableCellStateGreen] = "row[j].state == 100"
                                [class.tableCellStateYellow] = "row[j].state >= 50 && row[j].state < 100"
                                [class.tableCellStateRed] = "row[j].state < 50">
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <div style = "position:absolute;" [ngStyle] = "configInput" [hidden] = "!inputProperty.visible">
        <textarea #mainInputElement class = "mainInputStyle TableCreatorInputColor" 
            [hidden] = "inputProperty.type == 'tlist' || inputProperty.type == 'datetime'" 
            (blur) = "acceptEditField()" 
            [(ngModel)] = "inputProperty.value" 
            (keydown)="downEnter($event)"></textarea>
        <button *ngIf = "inputProperty.type == 'table'" 
            style = "position:absolute; right:0px; top: 0px; color:red; cursor:pointer; border:none; background:none; outline: none;"
            (click) = "inputProperty.value = ''; acceptEditField();">
            <i class = "fa fa-times-circle"></i>
        </button>
        <ng-container *ngIf = "inputProperty.type == 'tlist'" >
            <textarea class = "mainInputStyle TableCreatorInputColor" 
                [(ngModel)] = "inputProperty.value" 
                (keydown)="downEnter($event)"></textarea>
            <select (change) = "changeMainSelect()"
                style = "position:absolute; top: 100%; height: 24px; width:100%;" 
                [(ngModel)] = "inputProperty.valueList">
                <option *ngFor = "let option of inputProperty.values" value = "{{ option.id }}">{{ option.value }}</option>
            </select>
        </ng-container>
    </div>
</div>
<div *ngIf = "inputProperty.visible" class = "TableCreatorHeadColor" style = "position:absolute; bottom:-26px; font-size:12px;">id: {{ inputProperty.id }}</div>
<div class = "createContextMenu" 
    [hidden] = "!createContextMenu.visible" 
    [style.top] = "createContextMenu.top" 
    [style.left] = "createContextMenu.left"
    [style.transform] = "createContextMenu.transform">
    <ng-container *ngIf = "createContextMenu.type == 'head'">
        <button class = "contextMenuList" (click) = "pasteObject(true, false)" [disabled] = "!rules.type">Назначить тип</button>
        <button class = "contextMenuList" (click) = "pasteObject(true, 'NUMBER')" [disabled] = "!rules.change">Назначить тип NUMBER</button>
        <button class = "contextMenuList" (click) = "pasteObject(true, 'STRING')" [disabled] = "!rules.change">Назначить тип STRING</button>
        <button class = "contextMenuList" (click) = "pasteObject(true, 'DATETIME')" [disabled] = "!rules.change">Назначить тип DATETIME</button>
        <!-- <button class = "contextMenuList" (click) = "pasteField()" [disabled] = "!rules.paste">Вставить</button> -->
        <button class = "contextMenuList" (click) = "pasteObject(rules.event, false)" [disabled] = "!rules.object">
                {{ rules.event ? 'Добавить событие' : 'Вставить объект' }}</button>
        <button class = "contextMenuList" (click) = "removeEvent(true)" [disabled] = "!rules.change">Удалить событие</button>
        <button class = "contextMenuList" (click) = "clearFilters()">Очистить фильтры</button>
    </ng-container>
    <ng-container *ngIf = "createContextMenu.type == 'row'">
        <button class = "contextMenuList" (click) = "removeRow(createContextMenu.i)" [disabled] = "!rules.change">Удалить строку</button>
        <button class = "contextMenuList" (click) = "addRow(-1)" [disabled] = "!rules.change">Вставить строку выше</button>
        <button class = "contextMenuList" (click) = "addRow(0)" [disabled] = "!rules.change">Вставить строку ниже</button>
    </ng-container>
    <ng-container *ngIf = "createContextMenu.type == 'cell'">
        <button class = "contextMenuList" (click) = "clearField()" [disabled] = "!rules.change">Очистить</button>
        <button class = "contextMenuList" (click) = "pasteObject(false, false)" [disabled] = "!rules.object">
                {{ rules.event ? 'Добавить событие' : 'Вставить объект' }}</button>
        <button class = "contextMenuList" (click) = "pasteField('cell')" [disabled] = "!rules.paste">Вставить по ссылке</button>
        <button class = "contextMenuList" (click) = "pasteField('value')" [disabled] = "!rules.paste">Вставить по значению</button>
        <button class = "contextMenuList" (click) = "copyOrCut('copy')" [disabled] = "!rules.copy">Копировать</button>
        <button class = "contextMenuList" (click) = "copyOrCut('cut')" [disabled] = "!rules.cut">Вырезать</button>
        <button *ngIf = "inputProperty.type == 'datetime'" class = "contextMenuList" (click) = "openDatetimeModal()" [disabled] = "!rules.change">Вставить дату</button>
        <button class = "contextMenuList" (click) = "setState(0)" [disabled] = "!rules.change">Статус - 0%</button>
        <button class = "contextMenuList" (click) = "setState(10)" [disabled] = "!rules.change">Статус - 10%</button>
        <button class = "contextMenuList" (click) = "setState(50)" [disabled] = "!rules.change">Статус - 50%</button>
        <button class = "contextMenuList" (click) = "setState(100)" [disabled] = "!rules.change">Статус - 100%</button>
        <button *ngIf = "inputProperty.eventId" class = "contextMenuList" (click) = "removeEvent()" [disabled] = "!rules.change">Удалить событие</button>
        <div *ngIf = "inputProperty.type == 'cell'" class = "contextMenuList" (click) = "openToExplorer(inputProperty)">Показать в таблице</div>
        <div *ngIf = "inputProperty.type == 'table' || inputProperty.type == 'file' || inputProperty.type == 'tlist'" class = "contextMenuList" (click) = "openToExplorer(inputProperty)">Показать в проводнике</div>
    </ng-container>
</div>
<modal-moved-window #modalMovedWindow></modal-moved-window>