.errorTable
{
    margin-top: 5px;
    width:100%;
}
.errorTable th {
    padding: 5px 10px;
    color: #353535;
    border-right: 2px solid; 
    font-size: 0.9em;
    }
.errorTable td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

.mainInputStyle
{
    border: 2px solid #5293e4;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    width: 100%;
    height: 100%;
}
/* .buttonAcceptEditing
{
    color:rgb(97, 173, 138); 
    border-radius:10px; 
    position:absolute; 
    top:10px;
    right:5px;
    background-color:#d8d8d8; 
    width:25px;
    height:25px;
    text-align: center;
    line-height: 25px;
} */