.filterClass
{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 300px;
    overflow:auto; 
}
.filterClass select
{
    height: 30px;
}
.filterClass input
{
    height: 30px;
    width: 100px;
}
.condition
{
    border-radius: 5px;
    height:30px;
    text-align: center;
    float:left;
    line-height: 20px;
    padding:5px;
    margin-right:5px;
    margin-bottom:5px;
    cursor: pointer;
}
.field
{
    background-color: rgb(174, 238, 183);
}
.operand
{
    background-color: rgb(223, 166, 166);
}
.value
{
    padding:0px;
}
.value input
{
    border:1px solid #cccccc;
    border-radius: 5px;
}
.operator
{
    background-color: rgb(147, 197, 226);
}
.button
{
    background-color: rgb(226, 147, 215);
}
.group
{
    background-color: rgb(225, 226, 147);
}
.remove
{
    background-color: white;
    color:#aaaaaa;
}
.filterPanel
{
    background-color: white;
    width:390px; 
    height:300px; 
}
