/* .dx-datagrid-rowsview .dx-data-row .dx-cell-modified .dx-highlight-outline::after {
    border: 1px solid #000000;
} */
.loginFromList
{
    float:right; 
    border-radius:5px; 
    background-color:#d8ecfc; 
    margin-right:2px; 
    color:#354558;
    font-size:12px; 
    padding:5px;
    font-weight: bold;
}
